[2016-07-13 07:54] Engineering-Course opened #3 "headers['User-Agent']"
I failed to run your code.
If I need to change the value of headers['User-Agent'] ?

[2016-10-29 07:56] hardikvasa commented on #3
i know this is pretty late. Checked the error was not with the user agent but it was with the DOM changes on Google. Merging pull request tomorrow to update changes.

[2016-10-29 16:42] hardikvasa commented on #3
This issue is resolved now.

[2016-10-29 16:42] #3 closed

[2016-11-20 04:50] LongLong-Jing opened #4 "How to download more images?"
@hardikvasa
Hi Hardikvasa, thanks for your work. I have a question about downloading the images. What can I do if I want to download more images ? Specifically, What should I do if I want to download all the images under the keywork "Taj Mahal" ? Thanks for your help.

[2016-11-28 08:10] hardikvasa commented on #4
Hi LongLong-Jing@
The current script downloads all the images (100) in the first page of google images search result. For downloading more than 100 images, you will have to refine your search and add more search terms in the array.

Note: Please do go through the Disclaimer notice in the README file of this repository before downloading and using the images.

[2016-12-02 07:41] sunshineatnoon commented on #4
@hardikvasa  Thanks for this great script. May I ask how to download more than 100 images for a single search keyword?

[2016-12-17 23:14] hardikvasa commented on #4
Hi, as of now there is no 'direct' way to download more than 100 images from a single keyword since the response receives a max of 100 results. The best way to do that would be to add more keywords/key phrases and broaden the scope of search.

Thanks!

[2016-12-17 23:14] #4 closed

[2016-12-18 04:26] sunshineatnoon commented on #4
@hardikvasa Thanks for the reply.
FYI, one potential way to solve this issue is to set time limitations, so that one can crawl 1000 images in each time interval.

[2016-12-18 06:10] hardikvasa commented on #4
Hi @sunshineatnoon
Every time a a page is downloaded (based on a given keyword), the crawler crawls image links from that page and downloads all the images. The page does not contain more than 100 image links at once. Even if the page is downloaded again after a given time interval, it will return the same image links.

Can you briefly explain how would you achieve this setting time limitations?
T

[2016-12-18 06:12] sunshineatnoon commented on #4
@hardikvasa You can refer to [icrawler](https://github.com/hellock/icrawler)

[2016-12-25 12:16] ThomasKoscheck opened #5 "IOError"
Hey,
I am always having an IOError, can you help me out?

[2016-12-26 01:12] hardikvasa commented on #5
Can you paste the complete error and the stack trace here? I would want to see where is the error getting generated from.

[2016-12-27 14:26] ThomasKoscheck commented on #5
Thanks for your help, but I fixed my error. The script was in a folder without the permissions to write.

[2016-12-28 20:57] ak-01 opened #6 "Request timeout"
Hello!

Thank you for your great script. However sometimes requests are taking unlimited time. I wonder if it is possible to add a timeout to stop image requests.

req = Request( items[i], headers={"User-Agent": "Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.27 Safari/537.17"})

[2016-12-30 05:30] hardikvasa commented on #5
Glad to know that!

[2016-12-30 05:30] #5 closed

[2017-02-09 12:48] Ahmed-Abouzeid opened #7 "Do you know why only 100 images is the limit? Can we have more than 100?"

[2017-04-10 11:05] simon-labomedia opened #11 "Using The Script Without Having To Modify It"
Hello,

Thanks a lot for your work,
I modified it a bit and had to share this with you,

I simply changed the 'Edit From Here' section to this

[code]

Which allows to run the programm from terminal only
Exemple.

`python google-image-download.py kitty`

For multiple words research, dont forget apostrophes.

`python google-image-download.py 'flying laserbeam overkill kitty'`

I think it's faster a

[2017-04-30 14:53] scm-ns commented on #7
Google seems to only give 100 images for the page. They must be using ajax or something similar to load the rest of the page as we load. A simple trick is to have multiple keywords . So each keyword yields 100 images.

[2017-06-14 17:36] Peel40 commented on #7
How do I download just one word per keyword?

[2017-06-14 17:39] Peel40 commented on #7
How do I download just one image per keyword?

[2017-06-14 18:14] rachmadaniHaryono commented on #7
Hi @Peel40, we have made fork where there is download limit flag to limit the download.

Can you see if it meet your requirement?

[2017-07-03 02:46] hardikvasa commented on #6
@ak-01 sorry for the delay in getting back on this. Thanks for reporting this issue. I have added a timeout of 15 seconds while downloading an image so it does not try infinitely. It would now throw an IOError if it cannot download an image in 15 seconds.

Thanks again.

[2017-07-03 02:46] #6 closed

[2017-07-05 22:03] rushilsrivastava commented on #7
You are going to have to use Selenium or something else to get the other images to display. By default, Google only displays 100 images on the first page.

[2017-07-21 15:47] gdorai opened #15 "How to add further specifications?"
If I want to filter only the images that are "Labeled for Reuse", then, how do I specify it in the code? (tools -> usage rights -> labeled for reuse).

[2017-07-22 05:37] rachmadaniHaryono commented on #15
just as a note for this problem:

i found query for the option as following

[code]

[2017-07-22 23:29] aendrs commented on #7
Has anyone solved the 100 image limit problem?

[2017-07-22 23:38] rachmadaniHaryono commented on #7
not yet. for simple solution is to use web browser library such as selenium. or if anyone know how is the request, which the browser send after first 100 pic

[2017-07-23 03:04] rushilsrivastava commented on #7
Going with Selenium is probably the best option. Not only will it get you almost all the images in the search, it will also allow you to gather more data about the image (useful if your project revolves around metadata)

i.e. : where the image came from, caption, title, etc.

[2017-07-24 09:32] aendrs commented on #7
Wonderful, thanks for the info, I will take a look at the posted links and Selenium when I have some time.

[2017-07-24 10:50] rachmadaniHaryono commented on #7
other than selenium maybe look also for splinter (another abstraction layer for selenium).

[2017-07-24 19:54] rushilsrivastava commented on #7
If you are interested in a Selenium downloader as an example, you can take a look at mine:

https://github.com/rushilsrivastava/image-scrappers

[2017-07-24 20:10] rachmadaniHaryono commented on #7
@rushilsrivastava would you mind if I copy it? Which license do you give to your program?

[2017-07-24 20:13] Jaunter opened #16 "Won't work for Python 3.6"
Urllib2 is deprecated and urllib.request.Request doesn´t exist.
Thank you.

[2017-07-24 20:22] rachmadaniHaryono commented on #16
Hi @Jaunter, we made python 3 fork at @rytoj. You can try it and sed if it meet your requirements

[2017-07-24 20:25] rushilsrivastava commented on #7
@rachmadaniHaryono I added the MIT License to it, thanks for reminding me

[2017-07-24 20:45] Jaunter commented on #16
Fine, thank you!!

[2017-07-29 03:58] rachmadaniHaryono commented on #7
another note for this issue

i just check once again on loading image response (chrome network tab with xhr filter on) and these are the links

[code]

removing the random value
[code]
maybe there is possibility to parse with request library only.

note: i can't run selenium curentyly because following error

[code]
so i give up add selenium support and investigating above possibility

[2017-08-02 19:13] aendrs commented on #7
Great, please tell us if your approach works

[2017-08-02 21:10] rachmadaniHaryono commented on #7
You can wait till @rytoj merge the branch or you can checkout this directly https://github.com/rachmadaniHaryono/google-images-download/tree/feature/over-100

[2017-08-06 16:20] rachmadaniHaryono commented on #7
Ping @Ahmed-Abouzeid and @aendrs because the features is already merged in @rytoj fork

[2017-08-10 09:58] Jaunter opened #18 "Ssl Error"
while trying to download 100 images found by searching "pokemon go para ios" I get the following error:
`ssl.CertificateError: hostname 'assets.phonedog.com' doesn't match either of 'cloudfront.net', '*.cloudfront.net'
`
I'm using the python 3.6 fork.
Is ther anyway to bypass this??

[2017-08-10 10:02] rachmadaniHaryono commented on #18
this may related to PR #17. you can try @rytoj fork [here](https://github.com/rytoj/google-images-download)

[2017-08-10 10:39] Jaunter commented on #18
I'm noob on github, a pip install git+https://github.com/rachmadaniHaryono/google-images-download.git would fix it or i must do it manually?

Thank you

[2017-08-10 13:02] rachmadaniHaryono commented on #18
yes. you may want to add `--user` to install on home directory

https://askubuntu.com/questions/641182/upgrade-python-packages-with-pip-use-sudo-or-user

[2017-08-14 15:50] Jaunter commented on #18
I am afraid it didn't work for me. I'm using windows but pip install works perfectly. After doing it, I still get the same error. Should I make the changes in the .py files manually?

Thanks

[2017-08-14 15:56] rachmadaniHaryono commented on #18
Can you post the full error message?

[2017-09-03 17:31] Jaunter commented on #18
File "C:/Users/........", line 144, in downimg
    google_images_download.main(['{0}'.format(keyword)], '', 100, 0, True)
  File "C:\Python36\lib\site-packages\google_images_download\google_images_download.py", line 220, in main
    item=item, filename=filename, filename_format=filename_format, no_clobber=no_clobber)
  File "C:\Python36\lib\site-packages\google_images_download\google_images_downlo

[2017-09-03 18:25] Jaunter commented on #18
I just fixed it, I modified google-images-download.py code: (In bold the code I added, line 102)

#!/usr/bin/env python3
"""Searching and Downloading Google Images/Image Links."""

# Import Libraries

from os.path import basename
from urllib.parse import quote
import logging
import os
import time  # Importing the time library to check the time of code execution
import shutil
import ssl
try:
    fr

[2017-09-03 22:38] rachmadaniHaryono commented on #18
Hi @Jaunter, you can also create pr for that. My laptop is broken at the moment but I can review the pr if you make it

[2017-09-04 11:39] Jaunter commented on #18
I'm afraid I can't find how to create the pr. Do I have to commit the new google-images-download.py first?

[2017-09-04 11:47] Jaunter commented on #18
I just did it, I hope it is useful.

[2017-09-04 14:59] SystemErrorWang opened #19 "urllib2 is removed from python3"
In this script, the library 'urllib2' is imported directly in the code, which would cause error. I guess using an if structure and import urllib.request if the python version is python3 can solve this problem.

[2017-09-04 18:00] rachmadaniHaryono commented on #19
Hi @SystemErrorWang, we made fork on @rytoj for python3 version. Can you try if it meet your requirement?

[2017-09-07 21:04] dennistouchet commented on #19
Replace this code:
`        from urllib2 import Request,urlopen`
`        from urllib2 import URLError, HTTPError`

At lines 139 and 140 to this:

`        version = (3,0)`
`        cur_version = sys.version_info`
`        if cur_version >= version:     #If the Current Version of Python is 3.0 or above`
`            #urllib library for Extracting web pages`
`            from urllib.request import

[2017-09-23 15:05] ShadabFaiz commented on #19
Since i don't have permission to edit this file,i'm writing it down here.
As of now, this program is not compatible with Python 3.6.

1.  There are some problems related to syntax. **dennistouchet** has suggested a way to fix it.
2.  Right now, if the directory is already created ,then an exception will be thrown.
Better Approach: is to check is the directory is already created or not.
[code]
3. I

[2017-09-26 08:57] JafferWilson opened #20 "Any idea why the script is damn slow?"
I am trying to play with your script and found it damn slow. Even the code doesn't work with Python 3.5 only.
Any idea how I can make the script work faster, please let me know

[2017-09-26 09:15] rachmadaniHaryono commented on #20
there is pr for python3 compatibily here #13

use pool or async, e.g. http://shawnmehan.com/async-or-threaded-file-downloads-in-python-3-x/

[2017-09-26 10:27] JafferWilson commented on #20
If I am using python 2.7 then is there any thread for it too?

[2017-09-26 10:36] JafferWilson commented on #20
And can you show me how I can use the library what you have specified in the above link with the code of this repository?

[2017-09-26 11:28] rachmadaniHaryono commented on #20
Async isn't available on python 2.7, so only pool is possible. Related :

- https://stackoverflow.com/questions/1239035/asynchronous-method-call-in-python
- https://docs.python.org/2/library/multiprocessing.html

Edit around this line

https://github.com/hardikvasa/google-images-download/blob/master/google-images-download.py#L143

[2017-09-26 12:17] JafferWilson commented on #20
Thank you very much.

[2017-09-26 12:17] #20 closed

[2017-10-09 11:04] speedious commented on #19
`OSError, e` won't work for python3.5. It should be `OSError as e`.

[2017-10-30 16:40] tawm opened #22 "this is the worst python script i've ever seen"

[2017-10-30 19:33] #22 closed

[2017-11-14 00:19] atif93 commented on #7
For any number of images:
https://github.com/atif93/google_image_downloader

[2017-12-14 03:56] AdityaSoni19031997 commented on #7
Why we have IOError on images?

[2017-12-14 21:28] rachmadaniHaryono commented on #7
on which fork @AdityaSoni19031997 ?

[2017-12-20 15:55] skipz36 opened #24 "Improper file format naming."
### All images are treated as a jpg, if a non-jpg file is downloaded, it will be given the wrong file format.

[2017-12-20 23:25] rachmadaniHaryono commented on #24
hi @skipz36 , can you try @rytoj fork https://github.com/rytoj/google-images-download.

there the target filename is not forced to have jpeg extension and there is also sha256 filename mode, to keep the image file unique

[2017-12-21 09:02] AdityaSoni19031997 commented on #7
Latest one..
It seems that if we download images for let's say Spider-Man the relative count of IO error is 1 or 2 but if we search for Jeans(I did) the count goes to ~30

[2017-12-21 09:33] rachmadaniHaryono commented on #7
have you try @rytoj fork https://github.com/rytoj/google-images-download ?

[2017-12-22 20:55] dkennedy778 opened #25 "Running the parser with one alternative keyword provides much more accurate results than a list of keywords."
The first time I ran the parser I used the following.

memes = findMemes("meme",Meme_secondary_keywords,i)

Where "findMemes" is simply the parser wrapped in a method, Meme_secondary_keywords is a list of meme related terms like "greg,trump, and kobe" and i is superfluous

The second time I ran the parser I switched to this method

for word in variety_keywords:
       Secondarykeyword = []

[2018-01-10 07:20] hardikvasa commented on #19
sorry for the delay...the bugs mentioned on this page has been resolved. Thanks everyone for your contributions.

[2018-01-10 07:20] #19 closed

[2018-01-10 07:26] hardikvasa commented on #16
fixed it in this repo. Thanks for identifying.

[2018-01-10 07:26] #16 closed

[2018-01-10 07:29] hardikvasa commented on #24
Thanks @rachmadaniHaryono for all the wonderful updates post fork. Great work!

[2018-01-11 08:04] hardikvasa commented on #24
The script now downloads images with the correct file format and by using the original name of the image.

[2018-01-11 08:04] #24 closed

[2018-01-16 23:13] fadhil207 opened #26 "name 'request' is not defined"
name 'request' is not defined                          
[2018-01-17 06:11:18.374911] [ INFO ] ERROR : 'NoneType
' object has no attribute 'find'

elif cmd.startswith("image "):
                            sep = msg.text.split(" ")
                            search = msg.text.replace(sep[0] + " ","")
                            url = 'https://www.google.com/search?hl=en&biw=1366&bih=659&tbm=isch&s

[2018-01-16 23:24] rachmadaniHaryono commented on #26
Run `pip install requests`

[2018-01-17 09:21] BLCKPSTV opened #27 "unrecongized arguments"
When running the example I get following error on ubuntu 17.10

`google-images-download.py: error: unrecognized arguments: Polar bears, baloons, Beaches 20
`

[2018-01-17 11:05] rachmadaniHaryono commented on #27
do you put the quote character there (`"`)? the program may recognize the following words as argument.

[2018-01-18 06:06] hardikvasa commented on #27
Most of the command line tools separate arguments using space character. If your argument has space in it, you must wrap it in quotes as @rachmadaniHaryono mentioned.

[2018-01-18 06:06] #27 closed

[2018-01-18 06:08] hardikvasa commented on #26
did that help @fadhil207 ? Closing this issue for now.

[2018-01-18 17:38] fadhil207 commented on #26
not yet , no atribute find ! 🙄🙄

[2018-01-18 18:24] #26 closed

[2018-01-18 22:35] rachmadaniHaryono commented on #26
can you post full error?

[2018-01-20 17:53] unnir commented on #7
@rytoj your script just does not work

[2018-01-20 19:10] rachmadaniHaryono commented on #7
Can you post the error @unnir?

[2018-01-20 19:17] unnir commented on #7
@rytoj sorry for not posting the error message:
[code]

[2018-01-20 19:39] rachmadaniHaryono commented on #7
Can you post the Full error? The one you posted is the last few lines of the traceback.

[2018-01-20 19:40] unnir commented on #7
`File "/Users/vadimborisov/anaconda3/bin/google-images-download", line 11, in <module>
    sys.exit(cli())
  File "/Users/vadimborisov/anaconda3/lib/python3.6/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/Users/vadimborisov/anaconda3/lib/python3.6/site-packages/click/core.py", line 697, in main
    rv = self.invoke(ctx)
  File "/Users/vadimboris

[2018-01-20 20:05] rachmadaniHaryono commented on #7
@unnir can you try it once again with this fix branch

https://github.com/rachmadaniHaryono/google-images-download/tree/feature/fix-json-error

it will print out response variables and write json data to `google_images_download.json` if possible

[2018-01-21 07:57] rushilsrivastava commented on #7
Just create an issue on the other repo.

[2018-01-21 08:48] rachmadaniHaryono commented on #7
which repo?

[2018-01-21 10:03] unnir commented on #7
@rachmadaniHaryono  it does not work also, check this:
![image](https://user-images.githubusercontent.com/1344378/35192902-b637054e-fe9a-11e7-8ef3-8f63be88e65c.png)

[2018-01-21 10:28] rachmadaniHaryono commented on #7
dd86fc4a9e5acb6b8a0328675a79902ebe63a53a should be fixed now.

[2018-01-22 19:36] hardikvasa commented on #18
This change is now merged in the master branch of this repo. Thanks for reporting it.

[2018-01-22 19:36] #18 closed

[2018-02-04 19:22] nemanja-rakicevic commented on #7
Has anyone tried Selenium to get more than 100 images? (using python 3.5 on Mac maybe?)
I'm having difficulties with this: https://stackoverflow.com/questions/48607868/selenium-with-python-on-macos-always-giving-oserror-errno-8-exec-format-error

[2018-02-04 23:04] rushilsrivastava commented on #7
@nemanja-rakicevic If you feel like bumping this thread, at least read through it.

My selenium-based downloader that gets over 100 images:
https://github.com/rushilsrivastava/image-scrapers

[2018-02-05 00:00] ArashHosseini commented on #7
Hey Guys,
Endless searching and downloading [Repo](https://github.com/ArashHosseini/google-images-download)
...main process(collector) has to look for links and collect them, then the workers(download_worker) take care of the pool for the download. We need selenium to "scroll down" and get the hidden nodes. The process will run until keyboard interruption or if the items len in output folder rich

[2018-02-05 05:25] atif93 commented on #7
Simple downloader for any number of images: https://github.com/atif93/google_image_downloader

[2018-02-05 05:30] rushilsrivastava commented on #7
This doesn't get to the second page, so it's max is around 800 (like mine).

On Feb 4, 2018 9:25 PM, "Atif Ahmed" <notifications@github.com> wrote:

[2018-02-05 10:08] atif93 commented on #7
It goes to all the pages.

[2018-02-05 10:37] nemanja-rakicevic commented on #7
@rushilsrivastava, I have read through the thread and tried the code, but as I mention in the link above I'm having troubles with selenium and chromedriver.

[2018-02-05 10:53] rachmadaniHaryono commented on #7
@nemanja-rakicevic try Firefox webdriver? I am using it as fix for Google image search from url.

Just download the geckodriver and put it on you $PATH

[2018-02-06 17:43] ArashHosseini commented on #7
[Repo](https://github.com/ArashHosseini/google-images-download), now also with proxy and image type

[2018-02-07 00:56] hardikvasa commented on #15
Thanks for bringing this up.
Specifications have been added including usage rights, time, size, type of image and color.
Resolving this issue.

[2018-02-07 00:56] #15 closed

[2018-02-08 18:03] tomahim commented on #7
If it is usefull for someone I implemented this : https://github.com/tomahim/py-image-dataset-generator
With python 2.7 and chrome webdriver 2.20

[2018-02-18 23:43] hardikvasa commented on #25
Hi @dkennedy778 , thanks for opening up this issue.

Fast forwarding 30+ commits after you forked this code, the secondary keywords were removed and now has been added back to this repo. Now they are called `suffix keywords` because they suffix the main keyword.

I use loops to add suffix (secondary) keyword to the main keyword in the following way:

[code]

[2018-02-18 23:43] #25 closed

[2018-02-19 02:12] dkennedy778 commented on #25
You've got it exactly hardikvasa, thanks for adding this in!

[2018-02-19 06:30] MFrat opened #34 "Error: [Errno 2] No such file or directory"
IOError on an image...trying next one... Error: [Errno 2] No such file or directory: 'downloads/myQuery /1

Ex:
Starting Download...
IOError on an image...trying next one... Error: [Errno 2] No such file or directory: 'downloads/Polar bears /1. 220px-Polar_Bear_-_Alaska_%28cropped%29.jpg'
IOError on an image...trying next one... Error: [Errno 2] No such file or directory: 'downloads/Polar bears /1

[2018-02-19 07:29] agustinmorantes commented on #34
Same issue here

[2018-02-19 07:47] hardikvasa commented on #34
Can you please post the command line query?

[2018-02-19 10:25] hardikvasa commented on #34
@MFrat , @agustinmorantes the bug had now been resolved. Do let me know if you still see this as an issue in Windows OS. Closing this for now.

[2018-02-19 10:25] #34 closed

[2018-02-20 02:30] MFrat commented on #34
@hardikvasa, working now, thanks!

[2018-02-27 13:36] noorye4 opened #43 "about Reverse Image Search"
I follow the README command

I got some error :
Traceback (most recent call last):
  File "google-images-download.py", line 393, in <module>
    errorCount = bulk_download(search_keyword,suffix_keywords,limit,main_directory,delay_time)
NameError: name 'search_keyword' is not defined

[2018-02-27 19:20] hardikvasa commented on #43
thanks @noorye4 for reporting this...i will send send a fix soon!

[2018-02-28 06:55] hardikvasa commented on #43
Issue resolved!

[2018-02-28 06:55] #43 closed

[2018-03-01 03:23] ados-h opened #44 "After finish downloading, it throws the following error all the time, which stales my script. Could you please share some suggestions?"
Traceback (most recent call last):
  File "/usr/bin/googleimagesdownload", line 11, in <module>
    sys.exit(main())
  File "/usr/lib/python2.7/site-packages/google_images_download/__init__.py", line 2, in main
    import google_images_download.google_images_download
ImportError: No module named google_images_download

Thank you!

[2018-03-01 03:39] rachmadaniHaryono commented on #44
Can you update your program till the latest commit?

[2018-03-03 14:26] alpha-256 opened #45 "OSError directory name is invalid"
I installed by pip3 and while running an "SI" search it ouputs this:
OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'TrainFiles\\2018-03-03 22:21:01'

[2018-03-03 18:18] hardikvasa commented on #45
@alpha-256 Can you provide me your complete query and the OS version?

I am suspecting it is related to this:
https://stackoverflow.com/questions/45620324/oserror-winerror-123-the-filename-directory-name-or-volume-label-syntax-is?rq=1

[2018-03-03 18:41] RahulGala opened #46 "Image Metadata"
Can we have the metadata of the images downloaded with the images itself?

[2018-03-05 01:12] hardikvasa commented on #45
This was fixed in the latest update. Thanks for reporting it. Closing this issue now.

[2018-03-05 01:12] #45 closed

[2018-03-05 01:14] hardikvasa commented on #46
This feature has been added to the latest update.

you can now use `-m` for printing the image metadata on the console and `-e` to save metadata in a text file.

Closing this issue.

[2018-03-05 01:14] #46 closed

[2018-03-05 18:26] hardikvasa commented on #44
@ados-h this should be fixed in the new version of the package. If you are using pip, you can update the package using

`$ pip install google-images-download --upgrade`

Let me know if you still see this issue.

[2018-03-05 18:26] #44 closed

[2018-03-07 11:17] giabarbou commented on #7
**if you want to surpass the 100 images cap:**
**1)**go to google
**2)**search the keyword you want
**3)**when the images show, scroll down until there are no more images to show
**4)**save the html code to a folder in your pc
**5)**go to the google_image_download.py file and open it
**6)**modify the code so that the limit variable is more than 100
**7)**open the html file you saved earlier and co

[2018-03-07 18:48] AmusingThrone commented on #7
@glabarbou Consider reading the thread before bumping it. As you can see, these solutions have already been discussed, and people have created their own solutions using this method (using selenium or geckodriver). I have my own solution for Python2 and 3 here: https://github.com/rushilsrivastava/image-scrapers/

[2018-03-07 18:49] rushilsrivastava commented on #7
@glabarbou Consider reading the thread before bumping it. As you can see, these solutions have already been discussed, and people have created their own solutions using this method (using selenium or geckodriver). I have my own solution for Python2 and 3 here: https://github.com/rushilsrivastava/image-scrapers/

[2018-03-09 11:52] BHWD opened #47 "Use keyword file instead"
Would it be possible to modify this so that we can use a txt or csv with a list of keywords? I have 400+ keywords to scrape images for and so manually doing it would take a while!

[2018-03-09 17:02] hardikvasa commented on #47
@BHWD That would make a great feature. I will look into it.
Thanks!

[2018-03-10 18:31] reyanshmishra opened #48 "Pagination"
is pagination possible?

[2018-03-10 22:32] hardikvasa commented on #47
@BHWD this feature is implemented. You can now use `--keywords_from_file` or `-kf ` and specify the file name. One keyword/key phrase per line.

[2018-03-10 22:32] #47 closed

[2018-03-11 00:12] hardikvasa commented on #48
@reyanshmishra can you please elaborate on your use case and where would you need pagination?
Do you mean pagination in the output result printed on the console? If yes, then pagination is not possible for now.

[2018-03-11 00:33] hardikvasa commented on #7
Thanks everyone for the references. The aim of this repo is to be 3rd party dependency proof (at-least for now). And as of now there does not seem to be a way to download more than the initial list of 100 returned as the response of the query, from the inbuilt lib ref.

For anyone bumping into this thread, here are some repos that allow you to download more than the initial batch of 100 images:

h

[2018-03-11 00:33] #7 closed

[2018-03-11 01:11] krish9605 opened #49 "Download limit"
Is the download limit of 100 images set by google? because even if I change the limit inside the code I am unable to download >100 images. Is there a way to download >100 images?

[2018-03-11 01:17] hardikvasa commented on #49
@krish9605 Please refer to the issue #7 for more details.

[2018-03-11 01:17] #49 closed

[2018-03-11 03:47] reyanshmishra commented on #48
I am trying to create an image search API for google images(for private use) and right now Google returns only 100 results in one request. Is it possible to go after 100 images? As they are using ajax to fetch images (I guess) when we scroll.

[2018-03-11 06:52] hardikvasa commented on #48
@reyanshmishra this is a duplicate of #7 . This is definitely possible using selenium webdriver! :-)

[2018-03-11 06:52] #48 closed

[2018-03-11 07:16] reyanshmishra commented on #48
ohh I am sorry I didn't see that one.

[2018-03-12 09:59] Joggyjagz7 opened #50 "for windows"
For windows the command
<cd google-images-download && sudo python setup.py install> gives the error <``bash: sudo: coomand not `fine>`

[2018-03-12 10:44] rachmadaniHaryono commented on #50
You can also try

```cd google-images-download && pip install --user . ```

That will install the program using pip on your user folder.

Just make sure you have pip installed

[2018-03-13 14:41] BHWD commented on #47
That is brilliant thank you! Does it use the filename in the current directory?

[2018-03-13 16:11] hardikvasa commented on #47
@BHWD yes, if the file is in the current directory, you can just specify just the filename in the path.

If the file is not in the current directory then you will have to specify the relative or the absolute path to the file.

[2018-03-13 19:35] stellpdc commented on #50
I am unable to get the keywords_from_file option to work. I get the message "OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'C:\\Users\\Stell\\Desktop\\CurrentWorkfile\\Data\\Dorman\\GID\\Dorman 00588\r'".

If I specify keywords in the command instead of using the -kf option, it works fine. I've attached both my keyword file and the console output.

Any

[2018-03-13 20:18] stellpdc opened #51 "keywords_from_file throws error"
I am unable to get the keywords_from_file option to work. I get the message "OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'C:\Users\Stell\Desktop\CurrentWorkfile\Data\Dorman\GID\Dorman 00588\r'".

If I specify keywords in the command instead of using the -kf option, it works fine. I've attached both my keyword file and the console output.

[error.txt](

[2018-03-13 20:20] stellpdc opened #52 "More than one hyphen in keyword causes failure"
If a keyword has more than one hyphen, it will sometimes throw "Expecting property name enclosed in double quotes: line 1 column 2 (char 1)". It doesn't seem to do it with every example of this, but the ones that throw errors throw them every time. Log output attached.

[error2.txt](https://github.com/hardikvasa/google-images-download/files/1808521/error2.txt)

[2018-03-13 21:01] hardikvasa commented on #51
@stellpdc the bug is in line 93 of the google_images_download.py file where it is not stripping the '\r' character after reading it from the text file.

I will send a fix soon. But if you want to edit on your end, just replace
`search_keyword.append(line.replace('\n', ''))`

with
`search_keyword.append(line.replace('\n', '').replace('\r', ''))`

[2018-03-13 21:50] hardikvasa commented on #52
@stellpdc Thanks for pointing this out. So this a bug that does not throw the correct error. The **actual issue** is that no images were found for this search query.

To test this, you can type `dorman 924-5226-8` on the [google images page](https://www.google.com/search?biw=1920&bih=916&tbm=isch&sa=1&ei=lEOoWozTDMaP0gLYtaGgBg&q=dorman+924-5226-8&oq=dorman+924-5226-8&gs_l=psy-ab.3...0.0.0.962349.0

[2018-03-13 22:44] stellpdc commented on #51
That fixed it beautifully! Thank you!

[2018-03-13 22:44] #51 closed

[2018-03-13 22:49] stellpdc commented on #52
Interesting.

Additionally, it seems that this error also occurs when the number of images returned by the search is less than the program is expecting. Since the program defaults to downloading 100, if the search only returns 26 images, then the program throws this error.

[2018-03-13 23:05] DreamFlasher opened #53 "Download more than 100 images"
Is there any way to download 1000 images?

[2018-03-14 05:49] hardikvasa commented on #52
@stellpdc in cases where the images are less than the limit set in the query, you should see the following error:

`Unfortunately all 100 could not be downloaded because some images were not downloadable. 26 is all we got for this search filter!`

Can you give me an example query so I can reproduce this error on my end?

[2018-03-14 05:50] hardikvasa commented on #50
@Joggyjagz7 did it resolve your issue?

I am closing this issue for now. If you have any other queries, feel free to re-open it.

[2018-03-14 05:50] #50 closed

[2018-03-14 05:55] hardikvasa commented on #53
@DreamFlasher this is not possible for now with this repo. You can refer to #7 to get references to repos that allows you to download more than 100 images for a keyword.

However, due to many people requiring this feature, I will implement it by the end of this week. :-)

[2018-03-14 10:53] DreamFlasher commented on #53
@hardikvasa Sorry for not checking the already closed issues! Yeah looks like this is a very important feature, so there should be an open ticket for that. Or point out in the documentation that there are other solutions which have that implemented and one should go to them for this feature, if it's a "won't implement".

[2018-03-14 16:16] stellpdc commented on #52
I've attached the keywords file and the command I'm using.

I did a little more research. I've tried the following scenarios and gotten the following results for the keyword "Dorman 071-002":

1. Using the command and keyword file attached to this message, the program works at first, but then errors on the above keyword with the message "Expecting property name enclosed in double quotes: line 1 co

[2018-03-14 20:34] hardikvasa commented on #52
Thanks @stellpdc for the detailed description on the issue. Unfortunately I was not able to reproduce the issue that you are seeing. I have used your keyword file and the exact same query. At the time of writing I have reached keyword **202** and I do not see any errors yet.

The only thing I have changed was replace line 510 with this one:
`start_line = s.find('rg_meta notranslate')`

can you try

[2018-03-15 16:34] xkunglu opened #54 "typo in your disclaimer"
Re the line your disclaimer
"Please do not download any image without violating its copyright terms. "
you probably meant it the other way around. ;)

works great, thanks

[2018-03-15 21:06] hardikvasa commented on #54
@xkunglu haha thanks for pointing this out. I indeed meant the other way around. Corrected this.

[2018-03-15 21:06] #54 closed

[2018-03-16 23:24] hardikvasa commented on #52
@stellpdc can you confirm if the latest update resolved your issue?

[2018-03-18 00:32] #52 closed

[2018-03-19 18:15] hardikvasa commented on #53
@DreamFlasher this feature has been deployed. Works fine on Windows and Mac. Testing it on Linux now. Gets all the images that are returned by the google image search.

Closing this issue for now. If you have any issues, feel free to re-open this.

[2018-03-19 18:16] hardikvasa commented on #49
@krish9605 this feature has now been deployed. Now it gets all the images that are returned by the google image search.

[2018-03-19 18:17] hardikvasa commented on #48
@reyanshmishra this feature has now been deployed. Now it gets all the images that are returned by the google image search. Tested on Windows and Mac and works fine. Linux testing pending.

[2018-03-21 22:08] golovetska commented on #53
@hardikvasa  Sorry for commenting on closed issue. Did you manage to test this on Linux as well by now? I am trying to download more than 100 images on `ubuntu` and getting all the time the same error message   `Unfortunately all 1000 could not be downloaded because some images were not downloadable. 0 is all we got for this search filter!
Everything downloaded!
Total Errors: 0`
Works fine if limi

[2018-03-22 00:58] hardikvasa commented on #53
@golovetska I am still trying to get this work on Linux. The issue that you are facing is because of the GTK. Firefox requires GKT 3 whereas linux has GKT 2 map by default. You can see this if you look into the `geckodriver.log`. This log file will be in the same directory as your geckodriver file.

The error on the geckodriver.log file:
XPCOMGlueLoad error for file /usr/local/firefox/libmozgtk.so

[2018-03-22 00:58] #53 closed

[2018-03-22 09:27] n-gregori commented on #53
@hardikvasa i also have the issue on Windows,
[code]

Works fine if limit is <=100

Python 3.6.3
selenium 3.11.0

[2018-03-22 12:06] hardikvasa commented on #53
@n-gregori could you please create a new issue? We can then work on that. On windows it is typically because geckodriver was not added to the environment path correctly.

[2018-03-23 13:02] eamonnkenny opened #55 "Nice code, would make a good API"
If you were to change google_images_download.py to be a class rather than a set of functions and main caller, you could then allow it to be used as an API from other python scripts. That way it becomes a very powerful tool.

This is more of a feature request, not a bug.

[2018-03-27 03:26] hardikvasa commented on #55
@eamonnkenny thanks for your feedback :-)

This script, as you know would run from Command Line Interface. With that, could you tell me how do you propose it to be used from within other python files? Like even if the methods were put in classes, how would it still be like an API?

For now, the best way to call this from within another python file would be
`subprocess.call("googleimagesdownload -c

[2018-03-27 07:06] freekeys opened #56 ">100 images on linux OS"
Hello, loving this program - so useful, thanks for creating it!

I am having trouble setting it up to >100 issues. I installed via CLI and ran setup.py, so am assuming based on your instructions that Selenium is installed. I also followed the geckodriver instructions and that seems to have been successful. I'm running Linux Mint. Any support would be much appreciated!

[code]

[2018-03-27 07:08] freekeys commented on #53
Sorry I've just realised that I've duplicated this issue for Linux as #56 - want me to delete?

[2018-03-27 07:20] hardikvasa commented on #56
@freekeys thanks for your feedback :-)

yes, as you might have read in #53 , this is a known issue with Linux OS but works fine on Windows and OS X. I will add this information in the documentation. I will also try implementing the algo using chromedriver instead of geckodriver. But for now this is a won't fix issue.

Closing this issue for now. Feel free to post back if you found a workaround/sol

[2018-03-27 09:34] freekeys commented on #56
Thanks @hardikvasa!

[2018-03-27 09:38] eamonnkenny commented on #55
The issue is that with an API the individual using it does not want to have all the configuration in one script. I for instance would like to use it as an API with some default behaviour, downloading 10 labeled for reuse images given some input search string that changes each time.
(by the way, typos related to labled instead of labeled in your main calling function, need fixing)

I've attached a

[2018-03-28 03:58] bijan-usf opened #57 "allowing multiple values (Array) for file format argument"
There are situations that we are interested in more than one specific file formats but not all formats. Currently the config file does not allow to have an array for "Format" attribute.

[2018-03-28 07:05] hardikvasa commented on #56
was working with a sample/dummy code using chromedriver (and chrome browser) to download all the images returned by google search and that seems to work on linux, mac and windows. Let me keep this issue open until i do some more tests and merge it in this repo... :-)

[2018-03-30 08:01] hardikvasa commented on #56
Thanks @jaredjohansen for the feedback.

@jaredjohansen @freekeys the script is now updated to use chromedriver (with chrome browser) instead of geckodriver (with firefox browser).

I have successfully tested this script on **Windows, Mac, Linux CentOs and Ubuntu** and works perfectly fine. I could download 750+ images per keyword (everything that google returns).

You can follow the one time inst

[2018-03-30 08:04] hardikvasa commented on #53
@golovetska @n-gregori the script is now updated to use chromedriver (with chrome browser) instead of geckodriver (with firefox browser).

I have successfully tested this script on Windows, Mac, Linux CentOS and Ubuntu and works perfectly fine. I could download 750+ images per keyword (everything that google returns).

You can follow the one time installation guide of chromedriver and chrome brows

[2018-03-31 20:49] andronovhopf commented on #56
@hardikvasa I am trying this but still not working for me- I have chromedriver (v2.9, latest version) in the same directory where I am calling googleimagesdownload. I'm doing

`googleimagesdownload --keywords "cute" --limit 200 --chromedriver "./chromedriver"`

And then I get the error
`Looks like we cannot locate the path the 'chromedriver'. Please use the '--chromedriver' argument to specify the

[2018-03-31 20:56] hardikvasa commented on #56
@andronovhopf what linux OS are you running this from?

this could be due to various reasons:
* If the path is correct but the `chromedriver` file does not have execute permission
* can you try with an absolute path `/usr/local/bin/chromedriver` instead of a relative path? (should not matter but just for testing purposes)
* you do not have chrome browser installed in your system. In that case plea

[2018-03-31 21:25] hardikvasa commented on #57
@bijan-usf thanks for letting me know your use case.

as of now, google does not allow us to include more than one image formats in a single query. For now the workaround is to have more than one record in the config file like this:

[code]

I can iterate through an array of formats in the code, but if i change it for format, then i will have to change it for all the other arguments as well. So i

[2018-03-31 21:25] #57 closed

[2018-03-31 22:24] andronovhopf commented on #56
I’m running Ubuntu (xenial).

I’ll check out the permissions on the chrome driver- I got the same error using an absolute path, and I definitely have chrome browser installed on the system.

[2018-03-31 22:32] andronovhopf commented on #56
Yep it's in my directory and permissions look good

[code]

Tried the following
` sudo googleimagesdownload  --keywords "cute" --limit 200 --chromedriver "/home/eobrien/chromedriver"`

and

` googleimagesdownload  --keywords "cute" --limit 200 --chromedriver "./chromedriver"`

Failure :/

[2018-03-31 22:40] hardikvasa commented on #56
@andronovhopf thanks for the info. would you mind running the below command again to see if it updates to a stable version?

`sudo apt-get install google-chrome-stable`

This error could only be thrown if either the chromedriver was not found or the chrome browser was not found. This does not look to me like the issue is with chromedriver.

Did you happen to download the latest version of chromedr

[2018-03-31 22:59] hardikvasa commented on #56
@andronovhopf

I did spin up an EC2 instance: ubuntu-xenial-16.04-amd64-server-20180306 (ami-4e79ed36)

And then i followed the exact same steps as mentioned in the accepted answer here to download google-chrome-stable
https://askubuntu.com/questions/510056/how-to-install-google-chrome

and then i used your query and it worked perfectly fine.

[2018-04-02 16:31] andronovhopf commented on #56
Got it! Now it's working. I had to make sure I had chromedriver 2.37, and
then it worked. I must have had a different version.

On Sat, Mar 31, 2018 at 3:59 PM, Hardik Vasa <notifications@github.com>
wrote:

[2018-04-02 17:33] hardikvasa commented on #56
Sounds good! Closing this issue since this feature has been tested and it works on all major OS.

[2018-04-02 17:33] #56 closed

[2018-04-02 20:45] jaredjohansen commented on #56
Just tested it on my machine.  Works for me too!  Thanks hardikvasa!

[2018-04-02 22:53] marcelloexp386 opened #59 "search by url"
Dear all, I would like to search for images using the search  by image. I think that this accomplished by providing the (-u + url ) in the CLI but I have problems .

Originallly, the problem was with the name of the file and of the directory where the download has to occur. Specifically, Windows do not accept name of directories and file with the ":" character, so I changed both image_name with im

[2018-04-03 04:27] hardikvasa commented on #59
@marcelloexp386

For the first issue with `:` i think you are using the older version of this script. A few commits back, this was changed to use `_` instead of `:` because of compatibility issues in windows. Please update your script to the latest version of this repo.

Regarding the second issue, the correct command to search by image is `si` or `similar_images`. You can use your command...just

[2018-04-03 11:18] marcelloexp386 commented on #59
Thanks @hardikvasa for your kind answer.
1) solved
2) tried your suggestion but still doesn't work. I was looking for example for images similar to wikipedia one:

but it gives me the following errors:

Item no.: 1 --> Item name = 2018-04-03 13_13_29
Evaluating...
HTTP Error 400: Bad Request
Starting Download...
Traceback (most recent call last):
  File "google_images_download.py", line 775, in <m

[2018-04-04 01:17] hardikvasa commented on #59
@marcelloexp386 Unfortunately I could not reproduce this error.

When I tried using your query from a windows 10, python 3 environment, I could successfully download  all 20 images similar to the one you provided in the link.

Do you see this error for different image links or only this one image?

[2018-04-04 01:26] huchengsong opened #61 "'related_images' and 'prefix_keywords' do not exit in args_list"
'related_images' and 'prefix_keywords' do not exit in args_list in file google_images_download.py when installed by $ pip install google_images_download

[2018-04-04 17:05] hardikvasa commented on #61
@huchengsong  thanks for reporting it. I am sending an update today which should fix this issue too!

[2018-04-05 04:37] hardikvasa commented on #55
@eamonnkenny thanks for the suggestion. The new version of this lib allows you to call it from another python file. An example is provided in the docs. You can now create an object and pass on the parameters inside it.

Had to make a lot of changes in the code for good to implement this... :D . Few minor changes around the edges will be done in coming days...

Do let me know if this is more usable

[2018-04-05 04:41] hardikvasa commented on #61
Have resolved this issue in the new release.

You can update it with `pip install google-images-download --upgrade`

Thanks.

[2018-04-05 04:41] #61 closed

[2018-04-05 17:02] adayton1 opened #62 "Importing the package requires command line arguments"
I'm just trying to run your sample code, but on the import line I get an error saying command line arguments are required. I'm using Python 3.6.

Here's the code in the test file I created, testing_images_download.py:

[code]

Here's the error:

[code]

[2018-04-06 15:36] adayton1 commented on #62
I just barely upgraded to the latest version and I'm no longer having this issue. Thanks! This is a really nifty tool, by the way!

[2018-04-07 07:05] hardikvasa commented on #62
Thanks for confirming that. Closing this issue.

[2018-04-07 07:05] #62 closed

[2018-04-07 07:06] hardikvasa commented on #55
Closing this issue. Seems to be stable on all major OSs.

[2018-04-07 07:06] #55 closed

[2018-04-08 02:07] mansonami opened #63 "Excellent project, but how to visit google in china?"
Excellent project, but how to visit google in china?

[2018-04-08 02:37] smithnote commented on #63
by proxy

[2018-04-08 18:08] jaidmin commented on #63
vpngate.net is handy!

[2018-04-09 05:54] NoSkillGuy opened #64 "Even after installation (through manual CLI) `googleimagesdownload` command not found."
**Installation**
[code]
**Trying out**
[code]

[2018-04-09 07:13] NoSkillGuy opened #65 "`downloads/` Should not be committed to git."
Every time I run the script, I have the `downloads/` folder not committed to git nor it is present in `.gitignore`

[code]

[2018-04-09 20:02] area-55vzla opened #67 "Logo proposal for google images download"
Hello, I wish to cooperate with **google-images-download**, for this reason I have decided to design a logo for it. If you like this proposal, I can send you the files.

[![PROPUESTA_LOGO_GID.jpg](https://s18.postimg.org/y3fozhvyh/PROPUESTA_LOGO_GID.jpg)](https://postimg.org/image/y3fozhvyd/)

You can suggest the changes you think are necessary.

[2018-04-10 05:26] hardikvasa commented on #64
@NoSkillGuy sry for not responding quicker. This is actually an issue that i was facing myself and hence I have documented a similar solution on the main page of this repo in the [troubleshooting](https://github.com/hardikvasa/google-images-download#troubleshooting) section.

Good to know that the issue is now resolved. :-)

[2018-04-10 05:27] hardikvasa commented on #63
Closing this issue.

[2018-04-10 05:27] #63 closed

[2018-04-10 05:29] hardikvasa commented on #65
Closing the issue as the PR is merged.

Thanks!

[2018-04-10 05:29] #65 closed

[2018-04-10 07:25] hardikvasa opened #68 "Adding some tests and/or tutorials"
It would be great if an enthusiast can add some tests (in the /tests directory) or add some tutorials (in the /docs or /tutorials directory) on different ways in which you have used and integrated this project into your application.

[2018-04-10 10:55] eamonnkenny commented on #55
Great work. Really like what you have done with this.

[2018-04-10 17:50] CaseyKnauss opened #69 "Custom Resolution Option"
There is an option for google image search size called "Exactly" where you can input a custom resolution like width = 3440  height = 1440 or '3440x1440'.  This would be really handy to get exact resolution images / aspect ratio control.  In the same vein a custom aspect ratio like "21:9" would be nice or a better explanation of panoramic vs wide.

[2018-04-12 05:36] hardikvasa commented on #69
Great! thanks for the feature request.

The URL decoded version of your above example would convert to something like this
`isz:ex,iszw:3440,iszh:1440`

I will add the feature it in the next commit.

[2018-04-12 16:47] adayton1 opened #70 "ResourceWarning: unclosed file"
I've had several downloaded images where the file is not closed properly and I get a ResourceWarning. I checked and in the download_image function there is no exception handling for opening and writing to the file. I don't even see the output file being closed.

`path = main_directory + "/" + dir_name + "/" + prefix + str(count) + ". " + image_name
  output_file = open(path, 'wb')
  data = respons

[2018-04-12 22:17] adayton1 opened #71 "Getting list of image names/file paths in response to the download method call"
Maybe I just haven't seen how to do this yet, but when using this library in a Python script, it's not obvious how to get the information about the downloaded file from the `googleimagesdownload` object. It would be nice to have a dictionary of the relevant information about the downloaded image (i.e. basically the meta data that is printed out). At a minimum, it would be helpful to have the filen

[2018-04-13 15:34] adayton1 opened #72 "Images aren't actually saved to the output directory"
I noticed that images weren't being directly downloaded to the output directory specified. A subdirectory is created in that output directory and the files are saved there. It's a hassle because I always have to move files up a directory. It would also be great to just name them 1.jpg, 2.jpg, etc... so that the file names are easy to sort by the order in which they are downloaded.

[2018-04-13 17:07] kevng9 opened #73 "Looks like we cannot locate the path the 'chromedriver' if limit is included"
OS: osx 10.12.6
Python version: 3.6.5
Issue steps:
When running CLI with -l or --limit option specified, the following error is returned.
`Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine`
executing without -l works fine.

Attempted to use json input but still

[2018-04-13 17:32] hardikvasa commented on #71
@adayton1 these features exist in the current version of the library. You can use `-p` for printing source URLs of the images, `-ps` to print the size of the images on disk, `-m` to print the metadata and `-e` t extract all of that in a text file.

It would however be good to return the metadata in the variable that is called after class instantiation. I will look into this. But yes these features

[2018-04-13 17:45] hardikvasa commented on #73
@kevng9 the limit is set to 100 if you do not specify thee `-l` flag. If you want to download more than 100 images, you will have to specify the `-cd` flag and give the path to chromedriver that is installed in your machine. More details can be found in the documentation of this project.

Do let me know if that works for you.

[2018-04-14 12:12] knrdl opened #75 "Error message when no arguments provided"
Error message is shown instead of the help text when no arguments are provided

[code]

[2018-04-14 12:14] knrdl opened #76 "Missing Shebang"
First line of google_images_download.py is
[code]
instead of
[code]

[2018-04-14 16:52] ManosKoutselakis opened #77 "UI Feature Request"
What about making some UI elements on the current version of google-images-download? Is it planned for later versions?

[2018-04-14 17:47] knrdl commented on #77
For now I use this script:
[code]

Don't know if it is an option for you

[2018-04-15 00:19] jfushada opened #78 "Typo in README"
Hello! I noticed that there was a minor typo in the readme file: the "Compatability" section should say "Compatibility".

[2018-04-15 19:08] MuhammedBuyukkinaci opened #79 "Limit isn't working"
Hi,
I am trying to download images. I determined limit as 10000. However, downloading stopped near 600th image. I used a config file as below:
![screenshot 12](https://user-images.githubusercontent.com/33747602/38782238-41837308-40f9-11e8-9b23-2f70499082f4.png)
But, the result on command line is below:
Unfortunately all 10000 could not be downloaded because some images were not downloadable. 646 i

[2018-04-16 22:11] kevinkit opened #80 "Limit over 100 won't work"
Great API, however when using something like:

[code]

and setting `imgs ` over 100,like 120

I am getting the following error:

_Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine
An exception has occurred, use %tb to see the full traceback._

Using Python 3.6

[2018-04-17 08:42] devajith opened #81 "Corrupted images"
While trying to download images using config file method,  some images are getting corrupted. Is there anyway to remove those corrupted images after download completion.
![screen shot 2018-04-17 at 2 11 11 pm](https://user-images.githubusercontent.com/9593328/38858389-47481a2c-4249-11e8-8b06-c1b6f5710131.png)
![screen shot 2018-04-17 at 2 11 30 pm](https://user-images.githubusercontent.com/9593328

[2018-04-17 12:14] luisverges commented on #79
Same here. I'd try to help with the issue, but I am not super-fluent.

This is my output:

This is how I called the program:
`googleimagesdownload -k "{class1}" -l 5000 -f "jpg" -o "{namefolder}" -cd "C:\\Users\\{username}\\google-images-download\\chromedriver.exe"`

[2018-04-17 13:13] luisverges commented on #72
Images are created in a subdirectory of the working directory, called "downloads" by default, and the name of which can be changed using the -o parameter. An easy workaround to your issue is executing the code one folder up from your desired output folder, and passing the parameter -o "desired output folder name"

[2018-04-17 16:28] adayton1 commented on #70
`response` is a url object. `output_file` is a file descriptor. Both of them have to be closed, not just `response`.  There's not anything to the stack trace. I simply try to open a file, but I kept getting: ResourceWarning: unclosed file <_io.BufferedReader name='...'> for the files I downloaded.

[2018-04-17 16:31] adayton1 commented on #72
Images aren't created in `downloads`, though. If your keywords are "mountain river", then the files are saved in `downloads/mountain river`. I just want them to be saved in `downloads` directly.

[2018-04-17 16:34] adayton1 commented on #71
Yes, I did see how to print them out. I just need to be able to access the downloaded files easily from inside the script, but there's no way to get the filepaths except to use `os.listdir`.

[2018-04-17 17:38] luisverges commented on #72
Excuse me, you are right. In any case, being able to choose the full path would  be ideal.

[2018-04-17 18:00] luisverges commented on #81
Hello. I found the same issue after specifically scraping for jpg images, in two forms:
1) Corrupted ".jpg" files
2) Files that were downloaded in  ".as" format

In my case, I could get rid of both doing:

[code]

[2018-04-17 18:34] hardikvasa commented on #81
@devajith I was wondering if this is specific to MAC (osx). I do see some images that MAC cannot show a thumbnail for, but those images are not corrupted.

If you right click on the image and open it up with Chrome or other image editing software, you can see those images just fine.

@luisverges can you give me the query that you are running that gives you `.as` format images? There might be an ed

[2018-04-17 18:37] hardikvasa commented on #75
@knrdl Thanks for opening this issue. I will add a small logic where it would ask user to enter the keyword and not throw an error. Or at the very least print out a help message and exit.

[2018-04-17 18:39] hardikvasa commented on #70
Thanks @adayton1 I will look into the PR #74 and merge it after testing.

[2018-04-17 18:44] hardikvasa commented on #78
@jfushada Thanks. I will have it corrected in the next update.

[2018-04-17 20:18] luisverges commented on #81
@hardikvasa The queries I used are:
[code]
 Uppon further revision, these are the errors I've encountered with downloaded images:

**1)** Sometimes, file extensions aren't parsed quite right, and you get files with an incorrect extension. These files are OK, but need to be renamed. Some incorrect file extensions are:
- 4jpg (no dot)
-  .mo
-  8jpg (no dot)
- .asp (and .jpg.asp)
(Note that .as was

[2018-04-18 09:43] axzxc1236 commented on #80
You mean "limits" augment.
Install Google Chrome and download [Chromedriver](https://sites.google.com/a/chromium.org/chromedriver/downloads).
And add a augment
"chromedriver":"C:\\blahblahblah\\chromedriver.exe"

[2018-04-18 09:44] kevinkit commented on #80
Thank you for that hint, but why does it work when it is under 100 ?

[2018-04-18 09:46] kevinkit commented on #81
Can confirm the same issue on Windows 10.

Maybe a flag depicting "check_images_after_download"  could be implemented. When the flag is set, the api tries to open the image with opencv or something similiar, and if the opening fails the image will get automatically deleted

[2018-04-18 09:46] axzxc1236 commented on #80
I don't know, I am just a guy that runs into the same problem 30 minutes ago, but this behavior is specified in README.

[2018-04-18 09:47] kevinkit commented on #80
Duh, thank you - I totally overread that

[2018-04-18 09:47] #80 closed

[2018-04-18 10:07] axzxc1236 opened #82 "Improve the description of "limits" augment."
Turns out "limits" augment doesn't mean it will download **exactly** "limits" amount of pictures. (because errors happened.)

It would also be nice if you add an augments that make counter ignores errors.
(For example I failed to download 10th picture, instead of counting the next picture as 11th, make it count as 10th picture.)

[2018-04-19 05:08] devajith commented on #81
I used  below script to remove images that are not opening or corrupted
`import os
from PIL import Image

img_dir = r"path-to/downloads"
for filename in os.listdir(img_dir):
    filepath = os.path.join(img_dir, filename)
    print('file folder >>>>>'+filepath)
    if filename == ".DS_Store":
        print('DS folder -----'+filepath)
        os.remove(filepath)
    else:
        for imagename in os

[2018-04-19 05:09] devajith commented on #81
`
import os
from PIL import Image

img_dir = r"path-to/downloads"
for filename in os.listdir(img_dir):
    filepath = os.path.join(img_dir, filename)
    print('file folder >>>>>'+filepath)
    if filename == ".DS_Store":
        print('DS folder -----'+filepath)
        os.remove(filepath)
    else:
        for imagename in os.listdir(filepath):
            imagepath = os.path.join(filepath,image

[2018-04-19 05:15] devajith commented on #81
I used below code to remove the corrupted images:

[code]

i think if we could have this feature in module itself that will be great.

[2018-04-19 15:41] xiapoy opened #83 "http.client error when downloading certain images"
Hello,

I am using your script to download some images and have the following error that blocks the downloads at a certain image:

[code]

Also, thanks for sharing this awesome tool!

[2018-04-21 18:06] jashshopin commented on #83
Facing a similar error as well.

[2018-04-21 18:31] hardikvasa commented on #83
@xiapoy @jashshopin could you provide me with a sample query for which you are seeing this error? I would like to reproduce this on my end and at the very least add some exception handling.

[2018-04-24 13:51] jaredjohansen opened #85 "httplib.HTTPException: got more than 100 headers"
When I run this command:

I eventually get the following error (around image 141):

Any suggestions?

[2018-04-25 11:11] brtknr opened #86 "Support asynchronous download using the new asyncio module in Python 3.5+"

[2018-04-25 17:35] adayton1 commented on #72
Yes, being able to choose the full path for an image would be ideal. I think also this should be changed to a bug because if you have a search string that is too long, the folder creation will always break. Also, if there are commas in the search, that will break the folder creation.

[2018-04-26 05:38] YOnoda commented on #71
I'm on the same situation. The download method prints out all the information (via `extract_metadata`) but I would rather get the information as a variable as I need to change the filename.

[2018-04-27 05:41] hardikvasa commented on #70
Closing this issue as #74 was merged.

[2018-04-27 05:41] #70 closed

[2018-04-27 06:20] hegman12 opened #87 "better error handling in download_file"
I was trying out the tool and its really cool! But i noticed the error handling in download_file is not up to the mark. I was behind proxy and my internet was particularly slow. When i tried, i kept getting below error -

`Traceback (most recent call last):
  File "C:\Anaconda3\Scripts\googleimagesdownload-script.py", line 11, in <module>
    load_entry_point('google-images-download==2.0.4', 'cons

[2018-04-27 11:59] HappyAdjustableSpanners commented on #87
I am also having this problem

[2018-04-27 16:15] hardikvasa commented on #85
@jaredjohansen Not sure whats causing this exception. I will test this out later today and revert back. Can you tell me if you are:

* on OSX or Linux?
* does this happen on all the queries? or is this just intermittent?

[2018-04-27 20:34] jaredjohansen commented on #85
I am using Linux (Ubuntu 16.04).

This happens intermittently.  Of the ~100 queries I've used, it only happened twice.  The first one went away the second time I used it.  The example provided above was repeatable.  I believe it occurred 3x.

No, I am not (knowingly) setting _MAXHEADERS anywhere in my environment.

[2018-04-28 05:39] hardikvasa commented on #87
Thanks!
UnboundLocalError bug should now be resolved. @hegman12 , @HappyAdjustableSpanners could you download the latest version of this repo and try again?

[2018-04-28 05:46] hardikvasa commented on #82
Thanks! I have added a note in the documentation within the `limit` argument for transparancy. This is only the case where the limit is set to **100** and there are errors.

If you set a limit to less than 100 or more than 100, it will get you the exact number of images (even if there are errors).

Closing this for now.

[2018-04-28 05:46] #82 closed

[2018-04-28 05:46] hardikvasa commented on #78
Docs updated...closing this issue.

[2018-04-28 05:46] #78 closed

[2018-04-28 05:47] hardikvasa commented on #76
@knrdl Shebang line now added. Thanks!!

Closing this issue.

[2018-04-28 05:47] #76 closed

[2018-04-28 06:31] hardikvasa commented on #69
This feature is added in the latest commit. You can specify the exact size using the `es` or `exact_size` argument.

Closing this issue.

[2018-04-28 06:31] #69 closed

[2018-04-28 06:34] hardikvasa commented on #73
Closing this issue for now. If you are still experiencing this issue, feel free to reply back here.

[2018-04-28 06:46] hardikvasa commented on #79
@MuhammedBuyukkinaci sry for the late response, as @luisverges mentioned, and that is correct...this script gets all the images that google image search result returns. So if the image search returns only 600 images, it will only download 600 of em.

Closing this issue.

[2018-04-28 06:46] #79 closed

[2018-04-28 06:58] hardikvasa commented on #77
@ManosKoutselakis I really like the idea of having some UI elements, both while creating a query as well as showing the progress of downloads with image previews.

However, I am not sure if this would be feasible since OS like linux would only have command line option (basically this script should be aware of what OS this is run on).

I have added this in my backlog of features. Closing this issue

[2018-04-28 06:58] #77 closed

[2018-04-28 07:27] hardikvasa commented on #75
The script now throws a helpful message when the keyword argument is not provided.

Thanks.

[2018-04-28 07:27] #75 closed

[2018-04-28 07:33] xxllp commented on #83
@hardikvasa I face the same error ,just key word  like "刘诗诗"

Completed Image ====> 230. liics3j4haa9.jpg
IOError on an image...trying next one... Error: timed out
Completed Image ====> 231. 112154.34159403_620x620.jpg
Completed Image ====> 232. cs7pjh-b_400x400.jpg
Completed Image ====> 233. phpztsmx6.jpg
Completed Image ====> 234. 20160321014734759.jpg
Completed Image ====> 235. 134589840.jpg
Co

[2018-04-28 07:51] hardikvasa commented on #86
@brtknr Thanks for the suggestion. As of right now, the script has the same logic for both python 3.x and python 2.x when it comes to ordered downloading.

However, i will add this to my backlog for future releases. This will require decent algo overhaul.  Closing the issue for now.

Thnx!

[2018-04-28 07:51] #86 closed

[2018-04-28 08:44] brtknr commented on #86
I have written a library for downloading and resizing images asynchronously under github.com/brtknr/asynctools. I can try to integrate and make a pull regular at some point if you like.

Sent from my iPhone

[2018-04-28 09:07] saikishor opened #88 "Issue with the config file argument type of download"
Hello,

I really appreciate the work you have put into this. It is really amazing. Recently, I came across a bug in your executable. I wanted to download more than 100 images, but then I used the config file to write all my parameters, but then when I tried to run it shows this.

If I mention them one by one on to the commandline then it works.
This works....

and one more thing.
giving  arguments

[2018-04-29 13:03] krissdap opened #89 "Unicode keyword cause problem when printing to console on Windows"
Hi Hardik and guys,

Thanks for this great tool.

I'd like to report an issue, when using non-English search word, it causes the program to throw an error and quit.

I'm not sure if this is specific to some platform or locale.
Mine is Windows 10 64-bit English version.

I tried to use some Thai words and the error occurs on the <code>print(iteration)</code> line.
Obviously this is just a status me

[2018-04-29 18:42] hardikvasa commented on #87
The latest version of this script should resolve this issue. Closing this issue.
If you guys do still see this issue, do let me know.

[2018-04-29 18:42] #87 closed

[2018-04-29 18:46] hardikvasa commented on #89
Thanks @krissdap for reporting this issue. Can you give me an example keyword/query that you used when you saw this issue on the console? Once i can reproduce this issue, I will have better understanding of how to fix this.

[2018-04-30 03:29] krissdap commented on #89
Hi @hardikvasa ,
May be you can try one of the following:
สวัสดีครับ
อร่อย
ขอบคุณครับ
(it means, hello, delicious, and thank you :)

Just some more info about error, the error message is:
<code>
  File "C:\Python35\lib\encodings\cp437.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_map)[0]
UnicodeEncodeError: 'charmap' codec can't encode characters in position 3

[2018-04-30 05:33] hegman12 commented on #87
Hey, Thanks for quick response!

[2018-04-30 07:59] shikaiwen2017 opened #90 "How do I specify the output folder name of the google-images-download package?"
I looked at your documentation, it seems like I can only specify the main download directory. Each time downloaded images are going to be stored in a timestamped folder under the main download directory I specified. I am using this package to download images corresponding to a specific name. Is there a way I can change the timestamped folder name to the name I want? Or if there's a way I can renam

[2018-04-30 08:55] xxllp commented on #56
I have get fine  at first .but get the same error today

[2018-04-30 08:56] xxllp commented on #56
Unfortunately all 250 could not be downloaded because some images were not downloadable. 100 is all we got for this search filter!

[2018-04-30 15:38] hardikvasa commented on #56
@xxllp this could be because the qury that you used, Google image search only returned 100 images. Could you search on Google images page directly to see if that's true?

[2018-05-03 05:27] boxabirds commented on #73
@hardikvasa I'm having this error happen in this following environment:
Ubuntu 16.04.3 LTS
ChromeDriver 2.35.528139 (47ead77cb35ad2a9a83248b292151462a66cd881) on port 9515

Command:
googleimagesdownload --config_file gid.json --chromedriver /home/<my user>/bin/chromedriver
... where that path does work I checked it separately.

[2018-05-03 05:27] boxabirds commented on #73
The precise error is
(fastai) paperspace@ps2ev9u4q:~/data$ googleimagesdownload --config_file gid.json --chromedriver ../bin/chromedriver

Item no.: 1 --> Item name = vespa gtv
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine

[2018-05-03 14:34] shravik opened #91 "Unable to download more than 100 images in windows"
Hi,

As mentioned in the documents, I am calling your library through another file in python. I have also set the path to chrome driver in the arguments but still I am unable to download more than 100 images. I am however able to download up to 100 images. How do I fix this situation as I need more than 100 image downloads ?

Thanks for sharing this awesome tool and thank you for reading.

[2018-05-03 14:36] kevinkit commented on #91
When you say "unable" does it mean that it chrashes with an error message or that it just won't be 100 images?

[2018-05-03 14:57] shravik commented on #91
Yes, I get an error message like this:

Item no.: 1 --> Item name = Buildings
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine

[2018-05-03 15:01] kevinkit commented on #91
Can you show us how you specified the chromedriver?

It has to be an absolute path and it should be to the .exe , means:

`C:\\Users\\user\\mypath\\chromedriver.exe`

[2018-05-03 15:04] shravik commented on #91
this is the way I mentioned in my arguments:

"chromedriver":"C:\Users\sravanthi.kanchi\Documents\chromedriver.exe"

[2018-05-03 15:27] shravik commented on #91
I have also tried using the chromedriver argument this way:

"chromedriver":"C://Users/sravanthi.kanchi/Documents/chromedriver.exe"

[2018-05-06 11:20] danavrahami opened #93 "Bug - The time_range filter is ignored and the same images are returned"
Hi,
In the python implementation -
file **google_images_download.py, line 353.**
In the function **build_url_parameters**, for the switch on **time_range**:

`if arguments['time_range']:`

The value of time_range has a redundant ampersand (&) before "cdr" - **&cdr**

`time_range = '&cdr:1,cd_min:' + d['time_min'] + ',cd_max:' + d['time_min']`

It should be **cdr**

`time_range = 'cdr:1,cd_min:' +

[2018-05-07 16:15] luzer commented on #83
same here

[2018-05-07 17:11] salamatburj opened #94 "How to download large number of pictures?"
Hello! Thank you for sharing code! I just want to learn how to download large amount of pictures. Although, you mentioned that we need selenium and google driver, I was not able to do it both in my mac and windows. I don't know how to set path for downloading large amount of pics.

The error that I have for mac is:
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' a

[2018-05-07 17:17] kevinkit commented on #94
Can you show us how you set the chromedriver path?

salamatburj <notifications@github.com> schrieb am Mo., 7. Mai 2018, 19:11:

[2018-05-08 00:28] salamatburj commented on #94
I don't know how to set path for chrome driver. I just download it and open it via console.How to set path? Both in mac and windows?

[2018-05-08 01:50] salamatburj commented on #94
Problem solved!
This is the way it is solved. After carefully reading documentation (mia culpa):
1) pip install selenium
2) download chrome driver, copy path e.g, ('C:\Users\Downloads\chromedriver')
3) Now we just need to add "chromedriver": 'C:\\Users\\Downloads\\chromedriver' to command. The code will look like this:
[code]

[2018-05-08 04:18] gitfourteen opened #95 "Is this error related to proxy settings?"
copied error info as follows. What is the argument settings if linking google by VPS/SS? Thanks.

(py3) MAC:~ user$ googleimagesdownload -k "Ivanka Trump" -f png -t face **-px 13.231.---.---:----**

Item no.: 1 --> Item name = Ivanka Trump
Evaluating...
<urlopen error [Errno 54] Connection reset by peer>
Starting Download...
Traceback (most recent call last):
  File "/Users/anaconda2/envs/py3/bin/

[2018-05-08 16:09] gottlism opened #96 "Chromedriver Error Mac"
I am getting the error "Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine"

I have chromedriver located in my projectDirectory and my arguments appears below.
`arguments = {"chromedriver": "/Users/Documents/google-images-download", "keywords": "Polar bears", "l

[2018-05-08 16:11] kevinkit commented on #96
The path to chromedriver needs to be to the .exe, so Just add
//chromedriver.exe to it

gottlism <notifications@github.com> schrieb am Di., 8. Mai 2018, 18:09:

[2018-05-08 16:26] gottlism commented on #96
Thanks for the quick reply.
I tried `arguments = {"keywords": "Polar bears", "limit": 1000, "print_urls": False, "chromedriver": "/Users/Documents/google-images-download/chromedriver.exe"}` along with just "chromedriver.exe" and still get the same error.

Should it all be single slashes?

[2018-05-08 16:29] kevinkit commented on #96
It musr bei C:\\Users ...

So:

1. Put the C:\\ in front
2. Replace all / with \\

gottlism <notifications@github.com> schrieb am Di., 8. Mai 2018, 18:26:

[2018-05-08 16:33] gottlism commented on #96
I tried it with the same error. I'm on a Mac so I don't think C:\\ will work

[2018-05-08 16:36] kevinkit commented on #96
Ah Sry thouht it would be a Windows machine. Nevertheless it has to be an
absolute path

gottlism <notifications@github.com> schrieb am Di., 8. Mai 2018, 18:33:

[2018-05-08 16:39] gottlism commented on #96
Got it, thanks for your help! I ended up using
`/Users/Documents/google-images-download/chromedriver`

Which I thought was the first option I tried but alas.

Great piece of software you have here. Thanks for sharing it.

[2018-05-08 16:41] #96 closed

[2018-05-09 01:18] shravik commented on #91
@kevinkit  Thanks a lot ! its working now

[2018-05-09 23:36] nauti16 opened #97 "I can't download more than 100 images"
Dear creaters,

Thanks for this great tool.
I tried download 1000 images with this tool from google but I can't with below response.
I installed chromedriver and selenium along with instructions.

Item no.: 1 --> Item name = balloon
Evaluating...
[0509/201011.041:ERROR:gpu_process_transport_factory.cc(1007)] Lost UI shared context.

DevTools listening on ws://127.0.0.1:12501/devtools/browser/f0c8f

[2018-05-12 08:52] hardikvasa commented on #96
@kevinkit Thanks for your assistance on the issue. :)

[2018-05-12 22:38] hardikvasa commented on #91
@kevinkit for your help. I have now added some clarification on providing chromedriver path in on Windows OS.

[2018-05-12 22:38] #91 closed

[2018-05-12 22:59] hardikvasa commented on #71
@adayton1 , @YOnoda the latest commit should have this feature...
the example in the documentation had been updated to reflect this change. You can now get list of absolute paths of all the images successfully downloaded in a variable.

closing this issue.

[2018-05-12 22:59] #71 closed

[2018-05-12 23:00] hardikvasa commented on #73
@boxabirds i am guessing based on your PR #98 , this issue is now resolved for you.

sorry for the late reply. Let me know if you have any other questions.

[2018-05-12 23:00] #73 closed

[2018-05-12 23:05] hardikvasa commented on #85
@jaredjohansen sry for the delay. I have made some improvements in the lib so you should not see this error. I am not closing both the request as well as the file descriptor.

But if you do see this error after installing the latest version of this lib, do let me know.

closing this for now.

[2018-05-12 23:05] #85 closed

[2018-05-12 23:49] hardikvasa commented on #94
Glad that the issue is now resolved @salamatburj
I have added some clarification in the docs around the chromedriver path for windows OS.

closing this issue now.

[2018-05-12 23:49] #94 closed

[2018-05-12 23:53] hardikvasa commented on #88
@saikishor sry for the delay.

Can you give tell me the way you defined your config file? Also what OS are you running this script on?

For the second issue you reported, i will repro it on my end and revert back.

[2018-05-13 18:40] boxabirds commented on #73
Hi no I'm not having any more luck, the exception doesn't take me any further. Nowhere can I find simple examples of where the chromedriver binary should be and the path that I included isn't working.

[2018-05-13 18:44] BlueTranquility opened #99 "Safe search?"
I am looking to integrate this into a project, and I can't have random NSFW pictures appearing. Is there or will there be a way to enable google safesearch?

[2018-05-13 18:46] kevinkit commented on #99
I do not think that there is an option. However if you have any other Software installed which normally blocks such websites for you will help you in this case. I tried to download some images and my anti-virus program blocked me from certain websites

[2018-05-13 18:50] kevinkit commented on #73
1. Have you tried giving the chromedriver inside python in a dictionary ? Maybe this will work and the error is somewhere in the argument parsing to it
2. is the path to the executable or to the folder containing the executable? It must be  directly to the executable, not only the folder
3. Why are there two "/" in your path? Maybe this breaks it
4. Try an absolute path

[2018-05-13 18:57] hardikvasa commented on #73
@boxabirds yes it is either the path issue as Kevin suggested or it could be with the google chrome browser itself.

can you follow this guide to fresh install google-chrome-stable?
https://askubuntu.com/questions/510056/how-to-install-google-chrome

do let me know if that works.

[2018-05-13 19:14] BlueTranquility commented on #99
Ok, so I don't know if this was a feature, but I just edited the script so that every image was searched with '&safe=active' on the end of the URLs. It now works as hoped.

[2018-05-13 19:35] boxabirds commented on #73
Chrome's working fine -- I was able to run it directly ok. I'll have a look at it another time. BTW it'd be nice if you had an option to exclude the number prefixes. I've done a local build with a new flag that excludes it as an option

[2018-05-13 19:37] hardikvasa commented on #99
@BlueTranquility thanks for the feature request. I will look into adding this.

[2018-05-13 19:58] hardikvasa opened #100 "Exclude number prefix from image names"
From #73

[2018-05-14 18:54] hardikvasa commented on #72
two new options added (--image-directory and --no_directory) that addresses this feature request. More information can be found in the docs.

Closing this issue for now.

[2018-05-14 18:54] #72 closed

[2018-05-15 13:16] saikishor commented on #88
Sorry for the delay!! I ran it on Ubuntu 14.04 and the issue is same also on 16.04.

The config file, that I have used it the one below:
[code]

[2018-05-16 02:48] hardikvasa commented on #88
@saikishor thanks for additional info.

For the first issue, i overlooked the query that you provided...my bad. The reason why you are getting an error for the first one is because you are giving a combination of config file and command line arguments. As of now when config file is mentioned, it will discard everything that is mentioned in the command line. **So you will have to give the chromedri

[2018-05-16 02:57] hardikvasa commented on #97
@nauti16 thanks for your feedback. This script downloads all the images that google images returns.

For your search query i am guessing google images just returned 89 image link so the tool was only able to download 89 images. You can verify this by typing the keyword on [google images page](https://images.google.com/).

You can however try to use the `--related_images` argument and it will try a

[2018-05-16 02:58] #97 closed

[2018-05-16 03:03] hardikvasa commented on #95
Hi @gitfourteen

`<urlopen error [Errno 54] Connection reset by peer>` this seems to me like the query could not even download the raw HTML page. It is mostly because the page could not be retrieved over the network and could most likely be proxy related.

Can you try a different IP address to see if that works? I used the query you mentioned and it works fine for me though.

Closing this issue fo

[2018-05-16 03:03] #95 closed

[2018-05-16 04:34] hardikvasa commented on #99
The new version of the script has this feature. Closing this issue.

Thanks!

[2018-05-16 04:34] #99 closed

[2018-05-16 04:35] hardikvasa commented on #93
@danavrahami thanks for the detailed explanation on this issue.

I have now corrected this error in the code update. Do let me know if you have any other questions.

Closing this issue.

[2018-05-16 04:35] #93 closed

[2018-05-16 04:37] hardikvasa commented on #83
Folks, although i could not reproduce this issue on my end, I have added some exception handling to avoid it throwing an unhandled exception.

Do let me know if this resolves the issue.

[2018-05-16 04:37] hardikvasa commented on #100
Added the feature. Closing the issue.

[2018-05-16 04:37] #100 closed

[2018-05-19 19:51] mustafa3000 opened #105 "Time Range - unrecognized arguments on Mac Terminal"
Hi!

First off, thanks for creating this - what an amazing resource! I'm having trouble executing a time_range argument when running command line terminals on Mac. I'm a complete newbie, so I may not be typing the command for time range correctly (have tried lots of variations with & without brackets, etc). Any guidance is appreciated!

I keep trying to run the below but get "unrecognized argument

[2018-05-21 18:55] jaredjohansen commented on #85
Hardik,
Haven’t seen anything.  If it pops up again, I’ll let you know.

Thanks for your great support!
Jared

From: Hardik Vasa <notifications@github.com>
Sent: Saturday, May 12, 2018 7:06 PM
To: hardikvasa/google-images-download <google-images-download@noreply.github.com>
Cc: jaredjohansen <j_s_johansen@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [hardikvasa/google-images-dow

[2018-05-22 18:58] potatowave opened #106 "Set filename of download"
**Use Case:** I wanted to download the first result for 800 lines.  Doing so with a four digit prefix created file names such as `0011 1. logo-new.png` where the first 4 digit number is my index, the ` 1. ` is google-images-download's number and then the original filename.

While prefix is available, I wasn't able to find a way to completely set the filename.

In my scenario I'm iterating through

[2018-05-23 01:32] dilipajm opened #107 "Error while downloading 1000 images - "httplib.BadStatusLine""
Here is my code:

[code]

**Error: after downloading 300~400 files, I get this error**

Traceback (most recent call last):
  File "google_images_download/google_images.py", line 82, in <module>
    download_images(keywords, 1000)
  File "google_images_download/google_images.py", line 12, in download_images
    paths = response.download(arguments)   #passing the arguments to the function
  File "/u

[2018-05-23 07:05] nehamjadhav opened #108 "Permission issue while locating chromeDriver"
I have successfully downloaded 100 images but gives error while downloading 700 images even after providing chromedriver path.

Error>>Item no.: 1 --> Item name = NCERT experimental setup
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine (exceptio

[2018-05-24 16:05] giz02 opened #109 "Chrome version must be >= 65.0.3325.0"
I've downloaded the latest chromedriver but get the following error when trying to evaluate the following command:
googleimagesdownload --keywords "cube" --limit 101 --chromedriver ../chromedriver/chromedriver

Chrome driver is in the path specified:
$ ../chromedriver/chromedriver --version
ChromeDriver 2.38.552522 (437e6fbedfa8762dec75e2c5b3ddb86763dc9dcb)

And starts
$ ../chromedriver/chromedriv

[2018-05-24 16:16] giz02 commented on #109
Sorry for the churn - fix was to update google-chrome-stable with latests.  Looks good.

Version of chrome is now:

$ google-chrome-stable --version
Google Chrome 66.0.3359.181

My misunderstanding was the driver would act independently of the version of chrome-stable installed.

Thanks for a great project - very useful.

[2018-05-24 16:16] #109 closed

[2018-05-27 00:19] devingDev opened #110 "Can't possibly make it find chromedriver"
Tried on bash for windows AND windows cmd.
always cant find chromedriver.

`chromedriver --version
ChromeDriver 2.38.552522 (437e6fbedfa8762dec75e2c5b3ddb86763dc9dcb)`

`chromedriver
Starting ChromeDriver 2.38.552522 (437e6fbedfa8762dec75e2c5b3ddb86763dc9dcb) on port 9515
Only local connections are allowed.`

`googleimagesdownload -cf=cf.json -cd=C:\Users\Kem\AppData\Local\Programs\Python\Python36

[2018-05-27 00:59] devingDev commented on #110
Seems like the argument was always "None" for some reason. Hardcoded my path into the python file and it worked.

Someone should look into why the argument for -cd or --chromedriver is set to None anywway.

[2018-05-27 08:20] pandadom commented on #110
same for me :(

command:
 D:\workspace\dataSets\fotos>googleimagesdownload -cf config.txt --chromedriver="C:\\geckodriver-v0.20.1-win64\\chromedriver.exe"

result:
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine (exception: argument of type 'Non

[2018-05-27 10:58] devingDev commented on #110
Did you git clone this repo?
If so you should edit the file https://github.com/hardikvasa/google-images-download/blob/master/google_images_download/google_images_download.py
and hardcode the path like this :

`        arguments['chromedriver'] = "C:\\geckodriver-v0.20.1-win64\\chromedriver.exe"`

Add it somewhere right before the download function call, I added the line here:
 https://github.com/h

[2018-05-28 09:43] devingDev commented on #110
No problem. If I would understand python more I would try to do a PR but no idea ^^

Have fun

[2018-05-29 23:14] hardikvasa commented on #83
Closing this for now. Do let me know if this error re-occurs.

[2018-05-29 23:14] #83 closed

[2018-05-29 23:16] hardikvasa commented on #105
@mustafa3000 could you resolve your issue?

[2018-05-29 23:17] hardikvasa commented on #109
Thanks @giz02 ! Glad that your issue was resolved.

[2018-05-29 23:27] hardikvasa commented on #108
@nehamjadhav were you able to resolve your issue?

Do take a look at the troubleshooting section of the [docs here](https://github.com/hardikvasa/google-images-download#troubleshooting) for installing necessary chrome browser stable version, etc.

[2018-05-29 23:40] hardikvasa commented on #110
Hi @devingDev thanks for the info.

I am assuming the reason it did not work for you is because you are using the combination of config file and command line arguments. When config file argument is provided, all the command line arguments are ignored. I would recommend using the 'chromedriver' argument inside of the config file and then try.

[2018-05-30 14:21] mustafa3000 commented on #105
Hi @hardikvasa - onlyl partly :) I figured out how to use the command - BUT the "time range" filter doesn't seem to work (on Mac terminal).
rather when i compare the downloaded results against searching on google images, i get very different results when using "time range" argument.

For example:
when using a command without the time range filter like
`googleimagesdownload --keywords "daily chart

[2018-06-09 21:53] albertusgeyser opened #111 "Only viewing url"
Good Day

Anyone could show me how to only return url without downloading?

response = google_images_download.googleimagesdownload()
	arguments = {"keywords": code,"limit":1,"print_urls":True}
	paths = response.download(arguments)
	print(paths)

Thank You
Albertus Geyser

[2018-06-10 07:31] honest76 opened #112 "Proxy Authentication"
Is it possible to add proxy support for username:password ?

[2018-06-12 16:04] piotrex opened #113 "Problem with 'ś' in query"
There is a problem with 'ś' character in queries. I had to change some lines in the source code to get script worked properly. I had problem with [str() function](https://stackoverflow.com/questions/9942594/unicodeencodeerror-ascii-codec-cant-encode-character-u-xa0-in-position-20) and [urlib.quote](https://stackoverflow.com/questions/5557849/is-there-a-unicode-ready-substitute-i-can-use-for-urllib

[2018-06-15 18:46] french1802 opened #115 "no_numbering python script"
Hey :)

Doesn't work when the argument is used with a python script :
arguments = {"keywords" :keyword,"limit":100,"output_directory":photo_folder,"image_directory":dirs,"format":"jpg","no_numbering":True}

neither when the argument default value is set as True directly in the library

I changed the other line of the condition to have my result so it is not an emergency.

It is still an issue.

Ni

[2018-06-19 12:22] kapilkd13 opened #117 "use threads for parallel downloads"
Application is great. Everything works fine. Only issue is processing time. It takes a lot of time. Is there a reason threads are not used in this script. Please tell fast, so if it is possible to use threads I will change script and would make a pr updating it.

[2018-06-19 22:50] amolchanov86 opened #118 "Invalid character u'\x80'"
Image URL: http://%D0%B0%D1%80%D1%85%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F.%D1%80%D1%84/images/metody/mc8/Images/RAS_57.jpg
Traceback (most recent call last):
  File "/opt/anaconda2/bin/googleimagesdownload", line 11, in <module>
    sys.exit(main())
  File "/opt/anaconda2/lib/python2.7/site-packages/google_images_download/google_images_download.py", line 888, in main
    paths = r

[2018-06-20 16:51] hardikvasa commented on #88
Closing this for now. Do let me know if this is still an issue.

[2018-06-20 16:51] #88 closed

[2018-06-22 14:56] mikigom opened #119 "Other options are ignored when -si is used."
When -si option is used for inverse image search, many other options (e.g. -size, -format) are totally ignored.

[2018-06-23 07:42] Mozhdeh-d commented on #73
Hi,
I have the same issue. my chromedriver is installed in /usr/bin and I'm running the following code:
`python3 google_images_download.py -k 'cat' -cd ../../../usr/bin -l 140`

google_images_download.py file's path: ~/Documents/google-images-download/google_images_download

And the same error appears when I run the code:
`Looks like we cannot locate the path the 'chromedriver' (use the '--chromed

[2018-06-23 08:56] Mozhdeh-d opened #120 "chromedriver problem"
Hi,
My chromedriver is installed in /usr/bin and I'm running the following code:
`python3 google_images_download.py -k 'cat' -cd /usr/bin -l 140`

google_images_download.py file's path is: ~/Documents/google-images-download/google_images_download

And the error appears when I run the code:
`Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the pa

[2018-06-23 11:17] piotrex commented on #118
I had proble with Polish diacritics, solved them in #114 . Maybe my modifications will solve ur errors too?

[2018-06-23 19:57] omrysendik commented on #73
Exactly the same issue on my side...
I tried locating the chromedriver in the same folder of setup.py or in the same folder as google_images_download.py (changing the -cd path accordingly of course).
Nothing helped...

[2018-06-23 20:14] omrysendik commented on #73
OK, I was able to make it work like this:

1. Installed the chromium-chromedriver: sudo apt-get install chromium-chromedriver
2. Adding the path to the selenium line.
    Line 167 in ./google_images_download/google_images_download.py to:
             browser = webdriver.Chrome("/usr/lib/chromium-browser/chromedriver")

[2018-06-23 20:35] Mozhdeh-d commented on #73
@omrysendik thanks a lot for sharing your knowledge. It worked for me perfectly as well :+1:

[2018-06-23 20:37] Mozhdeh-d commented on #120
I found the solution here: [https://github.com/hardikvasa/google-images-download/issues/73](url)

[2018-06-26 10:14] gjpicker commented on #120
no, I don't think #73  is  a correct answer , if you update or download chromdriver to 2.40

my experience  is chromdriver <=2.37 work well .so you'd better download/unzip from [driver_2.37](https://chromedriver.storage.googleapis.com/index.html?path=2.37/) again

`
googleimagesdownload  -k 'example' -l 10000
`
`
googleimagesdownload  -k 'example' -l 10000  --chromedriver ./chromedriver_2.37
`

ps

[2018-06-26 10:16] gjpicker commented on #73
chromdriver ==2.40 fail ,but re-roll to 2.37 ,all confused resolved   ,see  more detail in
#120

[2018-06-27 12:49] TheClassyPenguin opened #122 "Downloading only thumbnails"
Is there any way to only download the thumbnails of each image? I am not interested in the full resolution image.

[2018-06-29 19:17] ragna211 opened #123 "Not able to download using json file"
Though it is showing me in cmd that download has been completed and corresponding file folders are also generating,but all those folders are empty.

[2018-07-02 09:02] jimgros opened #124 "Question: How to add the "time" to the metadata"
I'm interested in knowing when the picture was uploaded/indexed. Would it be possible to add that to the metadata? If so how?
Thanks

[2018-07-02 09:51] Futureknows opened #125 "error: argument -s/--size: expected one argument"
I am trying to issue googleimagesdownload to download images over 4MP with the following command:

`googleimagesdownload --keywords "stained glass" --limit 200 --size >4MP`

I get the following error code:

`googleimagesdownload: error: argument -s/--size: expected one argument`

[2018-07-03 14:49] patrick-plutoflume opened #126 "Visually similar images flag gives error code 400"
Installed via `pip3 install google-images-download`, when running the command:

`googleimagesdownload -si "https://upload.wikimedia.org/wikipedia/commons/5/53/Wikipedia-logo-en-big.png" -l 20`

I get the error:

[code]

Running on Python 3.6, macOS 10.13.4 on a 2017 MBP

[2018-07-03 14:53] patrick-plutoflume commented on #126
#59 seems to be having a similar error - I reused their url for demo purposes, but I get the same error against any url I try.

[2018-07-05 09:17] SArham opened #127 "driver"

[2018-07-05 09:17] #127 closed

[2018-07-05 13:16] inkplay opened #128 "Horrible wifi is there a way to redownload images without duplicates?"
Is this possible? I got a horrible wifi connection in the house and it messed up a few "related images" downloads. I noticed that it logs the errors is it possible to try and complete those failed downloads?

[2018-07-05 19:03] jimgros opened #129 "line 522: why lower()? Creates inconsistency"
You use lower() for the file name, but it seems that's the only place (you don't use it for the image url).
I'm not sure why you chose to do that, however, this choice creates a disconnect between the URL of the image and the filename the image is saved under.
I think that for consistency purposes might be best to leave the image name as per the URL.
Hope you agree
Thanks.

[2018-07-08 09:47] dmaugis opened #130 "probably an error parsing commandline:"
inconssitent behavior with -l

dma:~/Pictures$ googleimagesdownload -k "crepax drawings2" -l 1000

Item no.: 1 --> Item name = crepax drawings2
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine (exception: expect bytes or str, not NoneType)
dma:~/

[2018-07-08 11:13] dmaugis commented on #130
ok - my fault, i should read the doc...but the message is not really explicit, could be "you cannot fetch more than 100 images without installing chome/chromedriver"

[2018-07-13 02:36] ty-vincenthung commented on #105
Hi hardikvasa and nustafa3000,
I am glad to be here and I found that in source code the argument making for time_range is incorrect and I corrected it in my side but I am not sure how to push a new branch/commit to your project.

The issue is in around line 365,
[code]

after changing the d['time_max'], it should be working fine. :)

[2018-07-13 14:00] marcelyz opened #131 "download fialed"
what's the problem?
`Marcel:Downloads$ googleimagesdownload -k "谭卓" -l 5

Item no.: 1 --> Item name = 谭卓
Evaluating...
<urlopen error [Errno 60] Operation timed out>
Starting Download...
Traceback (most recent call last):
  File "/Users/Marcel/anaconda/bin/googleimagesdownload", line 11, in <module>
    sys.exit(main())
  File "/Users/Marcel/anaconda/lib/python3.6/site-packages/google_images_downl

[2018-07-15 07:01] steve21124 commented on #131
related to above topic, if it failed, probably will need a feature to continue from previous failed downlod

[2018-07-24 03:56] hardikvasa commented on #123
@ragna211 can you post me the complete query that you have used?

[2018-07-24 03:58] hardikvasa commented on #122
@TheClassyPenguin I will consider this as a feature request and add it to my backlog of features to work on. Thanks. It does make up for a perfect use case.

[2018-07-24 12:44] leejoonsung007 opened #134 "how to set the filename with the search keyword"
It seems that the filename is generated from the IMG URL, how to rename the file with the keyword input?

response = google_images_download.googleimagesdownload()
arguments = {"keywords":"cat, dog", "limit":1, "print_urls":True, "image_directory":'home1', "size":"large"}

Item no.: 1 --> Item name = cat
Evaluating...
Starting Download...
Image URL: https://upload.wikimedia.org/wikipedia/commons/th

[2018-07-24 13:30] #134 closed

[2018-07-26 03:32] KeyKy commented on #107
do it solved?

[2018-07-26 11:57] dilipajm commented on #107
Yes, the issue got resolved when i placed a full path of chrome driver

[2018-07-26 11:57] #107 closed

[2018-07-30 09:06] fstinner opened #136 "Multiple file format in a single request"
It's probably more of a feature request. If you search for certain terms and only want results in certain file formats (e.g. jpg, png, svg), only one file format can be specified. Google can only use one format too, but it may be possible to use different file extensions. E.g. by an iterating search over the formats.

[2018-08-01 09:19] manjrekarom commented on #136
I want this particular feature too. If you there's no problem can I take up this issue?

[2018-08-02 03:30] blueardour opened #137 "Unfortunately all 120 could not be downloaded because some images were not downloadable. 0 is all we got for this search filter!"
Hi, thanks for the wonder script.

I met a problem when downloading image if more than 100.
if the --limit is not specificed or less than 100, everything goes OK.
However, if the limit was set more that 100, it always gave ''
`0 is all we got for this search filter!`

chromedriver 2.37 is installed.

Full log:
`python google_images_download/google_images_download.py -k 'clouds overcast sky' --imag

[2018-08-02 03:31] blueardour commented on #137
ps. I am behind a proxy. However when the limit is less than 100, the script works. So I guess it is not the reason.

[2018-08-02 06:51] blueardour commented on #137
I finally solve the problem by adding
`from pyvirtualdisplay import Display display = Display(visible=0, size=(800, 600))
display.start()` and removing the options.add_argument("--headless")

[2018-08-02 06:51] #137 closed

[2018-08-03 23:47] NathanYukai commented on #73
I was having the same problem, turns out you have to provide the path to the executable itself, not just the path. For example:   /usr/bin/chromedriver , not just   /usr/bin/

[2018-08-07 09:27] Sushmitha-Gowda commented on #73
googleimagesdownload -k "car" -l 150 --chromedriver C:\Users\rsushmitha\Downloads\chromedriver_win323

Item no.: 1 --> Item name = car
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine (exception: Message: 'chromedriver_win323' executable needs to

[2018-08-07 09:35] Sushmitha-Gowda commented on #91
same error

googleimagesdownload -k "car" -l 150 --chromedriver C:\\Users\\rsushmitha\\Downloads\\chromedriver_win323\\chromedriver.exe

Item no.: 1 --> Item name = car
Evaluating...
Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver' argument to specify the path to the executable.) or google chrome browser is not installed on your machine (exception: Message: 'chrome

[2018-08-08 15:00] hardikvasa opened #138 "Throw human-readable error on internet connectivity issues"
#84

[2018-08-08 15:05] hardikvasa commented on #136
This was requested before in #57 . @manjrekarom sure. How do you propose including this feature? When a user specifies 10 images to be downloaded for example, should it be 10 for each format specified or 10 overall?

[2018-08-08 15:31] manjrekarom commented on #136
Hi @hardikvasa,
It will be 10 overall with either of the formats in the list provided as an argument.

Also, I saw #57. I see you had proposed a similar thing there. Are there a lot of places where these changes might need to be propagated?

[2018-08-09 00:50] hardikvasa commented on #91
@Sushmitha-Gowda can you refer to the above answers and mention the path of the chromedriver accordingly? Do let me know if that works for you.

[2018-08-09 09:06] Sushmitha-Gowda commented on #91
Ya that is working fine, but now
1. some as images are shown just as dot
2. while using similar images argument.. i m getting following errors as
shown in screenshots.

Anyways great code,thank you so much

On Thu, 9 Aug 2018, 6:20 am Hardik Vasa, <notifications@github.com> wrote:

[2018-08-09 17:09] irux opened #139 "Get only metadata"
Hello. I would like to get only the metada of the image and the use it without downloading it.
is it posible ? what would be the code for that feature?

Thank you

[2018-08-10 03:37] patrickluvsoj opened #140 "<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1045)>"
First of all, great tool! I'm using for the Fast.ai course to get some images. Encountered the following error when using it in another laptop after successfully running it in another (both macs). Apparently on Python 3.6 and 3.7 certificates are not installed you need install separately. Maybe something to document unless this is just something standard that I missed setting-up: https://stackover

[2018-08-10 05:46] lionnner opened #141 "Hi,Why always '0 is all we got for this search filter!'"
<img width="811" alt="886a731d-c1e1-4eae-bdf0-791dd866df8b" src="https://user-images.githubusercontent.com/19425203/43940794-e42274a0-9ca3-11e8-8477-c28685d098fc.png">

[2018-08-10 06:03] #141 closed

[2018-08-10 06:03] lionnner commented on #141
it's my issuse,

[2018-08-10 18:13] RafaRuiz commented on #117
Please make a PR

[2018-08-10 19:12] kapilkd13 commented on #117
Yeah, I looked into the code and for mass download it uses selenium and there lies the bottleneck for multi threading. https://stackoverflow.com/questions/30808606/can-selenium-use-multi-threading-in-one-browser
Although we can run multiple instances of selenium but it has huge memory impacts. Besides I not working with this script anymore.

[2018-08-11 05:37] elicec opened #142 "Error keywords encode"
Cool tool，thanks.
I use the json config file with Chinese (Simplified)
"Records": [
        {
            "keywords": "壁纸",
            "limit": 10,
            "color": "green",
            "print_urls": true
        }
    ]

But the keywords become '澹佺焊'

[2018-08-11 06:09] elicec commented on #142
i solve it

[2018-08-11 20:04] hardikvasa opened #143 "Change docs to reflect the changes in #132"
#132

[2018-08-12 05:07] hardikvasa commented on #139
@irux this is not possible out of the box. But you can tweak the code a little to not download the images and only get its metadata using the `--extract_metadata` flag.

I am considering this as a feature request.

[2018-08-13 10:07] irux commented on #139
@hardikvasa

Thank you. It would be very useful. I fork the repo and then I made changes for that Request locally. But it would be great when it comes officialy to the original repo.

Thank you again

[2018-08-13 23:15] gabesantos opened #145 "httplib.BadStatusLine: '' SOLVED!"
Hi! I've been trying to use the following script to download some images but it gets stuck on the 31st image of the first search (Accordion). Any ideas on how to fix this?

SCRIPT:
`{
    "Records": [
        {
            "keywords": "Accordion",
            "limit": 50
        },
        {
            "keywords": "guitar",
            "limit": 50
        }
    ]
}`

ERROR:

`Traceback (most rece

[2018-08-15 13:06] gabesantos commented on #145
ok, it was just my firewall settings LOL now it's working

[2018-08-16 08:49] flylic commented on #112
-px 'username:password@IP:Port
-px '@ 'xxx:xxx@127.0.0.1:1235'

[2018-08-18 01:28] hardikvasa commented on #145
Thanks. This should still give out a decent message instead of failing with this nasty. I will update the source accordingly. Closing this for now.

[2018-08-18 01:28] #145 closed

[2018-08-18 07:25] hardikvasa commented on #106
@potatowave thanks for the suggestion. Based on the tight integration of iterative naming with the download algo, this feature would mean changes at a lot of different code blocks. And it does not end there...as users would like to have random sequence of numbers or alpha-numbers or completely custom naming, making it difficult for any standard convention.

Adding it in my backlog and closing this

[2018-08-18 07:25] #106 closed

[2018-08-18 07:32] hardikvasa commented on #108
Closing this for now. Feel free to re-open the issue if the error still persist.

[2018-08-18 07:32] #108 closed

[2018-08-18 07:39] maocalm opened #146 "has no attribute '__path__'"

[2018-08-18 07:42] hardikvasa commented on #110
I guess it would be worth mentioning the workaround in the doc for folks who would experience a similar behavior. Thanks!

[2018-08-18 07:44] hardikvasa commented on #146
@maocalm could you paste the entire error stack trace along with the query used?

[2018-08-18 07:49] #112 closed

[2018-08-18 07:53] hardikvasa commented on #113
Closing the issue in favor of PR #114

[2018-08-18 07:53] #113 closed

[2018-08-18 20:39] hardikvasa opened #147 "Exception handling in single_image() similar to download()"

[2018-08-18 20:53] hardikvasa commented on #118
can you give me the query you used? I am able to reproduce this on the single_image() (opened an issue for that #147 ) but from the error stack trace it looks like you are getting this from download() method. Ideally it should have been caught by `UnicodeEncodeError` or `URLError` error handling block.

I tried the base URL: http://xn--80aajhq8bahjc2a2k.xn--p1ai/images/metody/mc8/Images/RAS_57.jpg

[2018-08-18 23:48] hardikvasa commented on #110
Updated the docs...resolving this issue. Thanks.

[2018-08-18 23:48] #110 closed

[2018-08-18 23:48] hardikvasa commented on #120
Updated the docs...resolving this issue. Thanks.

[2018-08-18 23:48] #120 closed

[2018-08-18 23:48] hardikvasa commented on #130
Updated the docs...resolving this issue. Thanks.

[2018-08-18 23:48] #130 closed

[2018-08-18 23:49] hardikvasa commented on #143
Updated the docs...resolving this issue.

[2018-08-18 23:49] #143 closed

[2018-08-19 00:16] hardikvasa commented on #125
sorry for the delay in getting back on this. you will need to put the value in quotes so the query should look like this:

`googleimagesdownload --keywords "stained glass" --limit 200 --size ">4MP"`

[2018-08-19 00:16] #125 closed

[2018-08-19 01:16] hardikvasa commented on #115
@french1802 can you check the actual file names on your machine? The terminal might still show numbering just so that the users know how many files are downloaded but the downloaded file names should not have numbering in their names if you have set the `no_number` flag.

do let me know...

[2018-08-19 04:29] Jayshine commented on #141
I have the same question. So why? Please

[2018-08-19 04:47] CookingBoy opened #148 "always get 0 pics"
**the code:**
[code]
**the result：**
Item no.: 1 --> Item name = aa
Evaluating...
Getting you a lot of images. This may take a few moments...
Reached end of Page.
Starting Download...

Unfortunately all 200 could not be downloaded because some images were not downloadable. 0 is all we got for this search filter!

Errors: 0

[2018-08-19 09:00] Jayshine commented on #148
![snipaste_2018-08-19_16-59-32](https://user-images.githubusercontent.com/16102114/44307227-48d1c700-a3d1-11e8-8398-03895c8a00d7.png)

[2018-08-20 10:55] jimgros opened #149 "AttributeError: 'NoneType' object has no attribute 'find'"
I have been using google-images-download for a few weeks. It used to work without issues. Over the past few days I am running into a recurring issue.

I am running searches in a batch mode (searchterms are stored in a DB). When I launch the scraping, it starts off ok, but then after a few iterations I get the error below ('NoneType' object has no attribute 'find').

What is it due to and how come

[2018-08-21 18:45] Kelvinli5354 opened #150 "Never get past 100 images"
I use this command:

googleimagesdownload --keywords "pikachu" --limit 1000 --chromedriver "C:\webdriver\chromedriver.exe"

I then get this error:

```[0821/144301.888:ERROR:gpu_process_transport_factory.cc(1016)] Lost UI shared context.```

but the program still runs and I still get images but I never get past 100 images downloaded.

Is there anyway I can fix this?

The chromedriver is in the cor

[2018-08-24 22:39] hardikvasa commented on #115
Closing this issue for now. Let me know if the above comment helped you. Also make sure you have the latest version of this script installed.

[2018-08-24 22:39] #115 closed

[2018-08-24 23:05] hardikvasa commented on #146
closing this for now. Feel free to re-open the issue with additional information if the issue still persist.

[2018-08-24 23:05] #146 closed

[2018-08-25 19:12] hardikvasa commented on #118
Resolving this for now. Feel free to re-open the issue with additional information if the issue still persist. If the issue is reproducible, a complete query would be great to understand the root cause.

[2018-08-25 19:12] #118 closed

[2018-08-25 19:17] hardikvasa commented on #117
You are right. I did have a couple approaches to dealing with this issue but again each of them have its own drawbacks due to dependencies and would require a major algo overhaul. Adding it to my backlog but closing the issue for now.

[2018-08-25 19:17] #117 closed

[2018-08-26 00:52] CookingBoy commented on #142
emmm请问一下google爬图片是不是要翻墙

[2018-08-26 09:39] elicec commented on #142
当然，这个项目可以设置代理。

------------------ 原始邮件 ------------------
发件人: "CookingBoy"<notifications@github.com>;
发送时间: 2018年8月26日(星期天) 上午8:52
收件人: "hardikvasa/google-images-download"<google-images-download@noreply.github.com>;
抄送: "彭红"<elicec@foxmail.com>; "State change"<state_change@noreply.github.com>;
主题: Re: [hardikvasa/google-images-download]  Error keywords encode (#142)

emmm请问一下google爬图片是不是要翻墙

—
Y

[2018-08-27 16:15] dariodipa opened #151 "Can just save the url from images"
Can just save the url from images ? Dont donwload.

[2018-08-29 02:42] lionnner commented on #141
Because your Terminal App couldn't connect to google.com.

[2018-09-03 01:31] Beastjdhr commented on #151
Hello, I would like to solve this issue. Can you be more specific about what the problem is?

[2018-09-06 09:16] FieldRen opened #153 "related_images download failed, and I have resolved this bug."
I used to download a ton of images related to my keyword by adding '--related_images' or '-ri' in my query. and it worked very well. But recently, it don't work, it just downloads images from my keywords, no any related images.

I have been tossing for a long time. Finally, I resolved this bug! It seems that google has updated its html format. And you just need to find 'get_next_tab(self,s)' funct

[2018-09-07 09:53] Wayne40406130 commented on #150
same issue, but I get this error:
`[0907/172848.573:ERROR:gpu_process_transport_factory.cc(1007)] Lost UI shared context.`
I'm not sure is same reason made it, but I can't get over 100 images downloaded too.

[2018-09-08 06:19] jubyshu opened #155 "AttributeError: 'NoneType' object has no attribute 'find'"
Several weeks ago I can download images by it on my Mac, but now it suddenly don't work any more.
[code]

[2018-09-11 11:23] Arena100 opened #157 "Contact detail scrape"
Hi Guys - brilliant tool that I have used frequently, this has saved me copious amount of time. I wonder if the code can be modified to scrape contact details rather than images based on a given list, i.e (image attached)

![capture](https://user-images.githubusercontent.com/13103024/45357163-5556d300-b5bd-11e8-9716-644a666c232d.JPG)

[2018-09-12 02:16] buaatian opened #158 "AttributeError: 'NoneType' object has no attribute 'find'"
Traceback (most recent call last):
  File "/usr/python3/bin/googleimagesdownload", line 11, in <module>
    load_entry_point('google-images-download==2.4.2', 'console_scripts', 'googleimagesdownload')()
  File "/usr/python3/lib/python3.7/site-packages/google_images_download/google_images_download.py", line 893, in main
    paths = response.download(arguments)  #wrapping response in a variable just

[2018-09-12 11:20] haritha-j commented on #122
I was looking for this feature as well, i would really appreciate it if you could implement it / give me some guidance on how to implement it myself. This would be really useful in a lot of scenarios.

[2018-09-12 11:39] haritha-j commented on #122
@TheClassyPenguin , if you still need this functionality i implemented some quick changes to a fork of this code over at github.com/haritha-j/google-images-download

This is a very quick fix that breaks the rest of the functionality, but it's enough for my purpose, so it's not at a level of quality where i can submit it as a pull request. But feel free to use the above code if it gets your job don

[2018-09-13 09:09] lbenassi opened #159 "Error: Looks like we cannot locate the path the 'chromedriver'"
Hi,
I try this tool and is very usefull, but I encountered a problem.
This is my simple code to download images related to tables:
`from google_images_download import google_images_download
response = google_images_download.googleimagesdownload()
arguments =  {"keywords":"Table","limit":100,"print_urls":False,"output_directory":myDir}
paths = response.download(arguments)`

When I imposed `"limit":

[2018-09-14 13:06] shanalikhan opened #160 "How to set output image name"
I want to generate images as :

Where the `{number}` is the download index.

How to do that?

Currently it downloads as following:

![image](https://user-images.githubusercontent.com/8774556/45551930-c231cd80-b848-11e8-82bd-412c07db8c4b.png)

[2018-09-15 20:06] SirLich commented on #111
I am also interested in this feature!

[2018-09-18 04:33] 1001b opened #161 "Error: <urlopen error EOF occurred in violation of protocol (_ssl.c:###)>"
**Environment:**
Python: 2.7.15
Mac OSX: High Sierra

`googleimagesdownload --keywords "NAS1919B04S06" --limit 1 -p`

Results:

After some research, it's likely the server isn't properly configured for HTTPS handshake.  I ran:

[code]
The bit of concern/interest is probably the cipher of "000".  In the code base, the ssl context is unverified.  Obviously, it wouldn't work in this case.

Could anyo

[2018-09-18 21:09] 1001b commented on #161
I found a half-baked solution.  For websites with improper or poor TLSv1.2 setup, falling back to TLSv1 seems to do the trick.  I understand this is not the best way going about it. It would be cool this is baked in the tool.

[2018-09-22 14:47] ekosman opened #162 "Downloading random images"
I want to download random images every time I search.
Is this currently possible?

[2018-09-23 12:47] RussiaVk opened #163 "http.client.UnknownProtocol: HTTP/2.0？"
`  File "D:\Program Files (x86)\Python37\Scripts\googleimagesdownload-script.py", line 11, in <module>
    load_entry_point('google-images-download==2.4.2', 'console_scripts', 'googleimagesdownload')()
  File "d:\program files (x86)\python37\lib\site-packages\google_images_download\google_images_download.py", line 893, in main
    paths = response.download(arguments)  #wrapping response in a varia

[2018-10-07 06:40] MHM5000 commented on #89
Any updates on this issue? Especially for `python 2.7`.

[2018-10-14 23:49] BigRedT opened #165 "HTTP Error 503: Service Unavailable"
The script worked great for upto ~28000 images and then I started getting `HTTP Error 503: Service Unavailable`. Restarting the script after a day or two downloaded another ~32000 images before throwing the `503` error again.

Couldn't exactly figure out the cause or fix for this issue. Maybe there is a limit to how many images google allows you to download? If so, is there a way to get authorizat

[2018-10-15 09:55] zhudaoruyi commented on #163
+1

[2018-10-17 10:43] ahmed-bensaad commented on #159
Got the same error over here. Any solutions?

[2018-10-18 19:21] jillelajitta commented on #107
I gave the full path of chrome driver but still it is giving me that error.

[2018-10-19 12:55] krissdap commented on #89
Hi @MHM5000

I guess the issue is not universal (may be not reproducible in MacOS -- just guess).
So I think the original author have not decided.

Anyway, for workaround, you could just comment out that specific line, that print out the search keyword.
Works for me.

[2018-10-19 15:16] jeraldpunx opened #167 "How to get URL of image only and not download?"
I want to get the URL only and don't download and put it on JSON just for exp

[code]

will return me

[code]

if not, can I get the JSON log with file name?

[2018-10-20 18:50] hellogan commented on #158
For me this issue was because of the way python3 ssl. Following [this solution](https://stackoverflow.com/a/43855394) worked for me.

[2018-10-22 19:11] bendae19 commented on #106
@potatowave How did you get it to increment from `0000` to `0011` (even if the `1. logo-new.png` stayed? I can't seem to specify the `prefix` setting in a way that is not the exact same for all lines in the csv file...

[2018-10-24 05:38] devajith commented on #159
According to the documentation  : If you would want more than 100 images per keyword, then you would need to install Selenium library along with chromedriver.

[2018-10-24 07:16] macro-dadt commented on #165
I fixed it here https://github.com/macro-dadt/google-images-download/blob/master/google_images_download/google_images_download.py

[2018-10-25 11:27] ezavesky opened #171 "clip-art type parameter changed"
Looks like the type specification parameter (in the query) for 'clip-art' has changed from 'clip-art' to 'clipart'.  Should be an easy fix around [this line](https://github.com/hardikvasa/google-images-download/blob/master/google_images_download/google_images_download.py#L383).  Thanks for making the nice tool!

[2018-10-27 16:51] wankio opened #173 "How to download related images in each image ?"
In images.google.com when u click on one picture, it will open 6 related pictures, how i can make this tool download full related images on each image? thank

[2018-10-31 05:58] Once88 commented on #149
Same here. Did you guys solve it ?

[2018-11-02 03:09] daolq3012 commented on #140
@patrickluvsoj

[code]
ref: https://github.com/slackapi/python-slackclient/issues/334#issuecomment-433498349

[2018-11-03 13:43] jimgros commented on #153
Hi,
I noticed the same thing. Thanks for sharing.
I had the same problem and it solved it perfectly.

I would like to add to your changes something else.
I noticed that after your changes, the url_item needs to be modified as well.

So after the line nr 229 (where you modified the last instance of `"dtviD"`) I would change the lines of code to the following.
[code]

[2018-11-04 05:18] hardikvasa commented on #167
@jeraldpunx this is now available in #169 . Closing this issue.

[2018-11-04 05:18] #167 closed

[2018-11-04 05:18] hardikvasa commented on #111
@albertusgeyser @SirLich now available in #169 . Closing this issue.

[2018-11-04 05:18] #111 closed

[2018-11-04 07:13] #105 closed

[2018-11-04 07:15] hardikvasa commented on #105
thanks @mustafa3000 and @ty-vincenthung for the inputs. The changes were merged in #152 so this should be fixed now.

[2018-11-04 07:33] hardikvasa commented on #171
@ezavesky thanks for pointing this out. The issue was fixed in #172 . Closing this issue.

[2018-11-04 07:33] #171 closed

[2018-11-04 07:46] hardikvasa commented on #157
@Arena100 thanks for your comment. Glad to know you are liking the script. Unfortunately for now this script is dedicated to just downloading images. You should look for [beautifulsoup4](https://pypi.org/project/beautifulsoup4/) for parsing HTML elements.

Closing this issue.

[2018-11-04 07:46] #157 closed

[2018-11-04 07:58] hardikvasa commented on #173
@wankio you should look at reverse image search to see if that resolves your query.

[2018-11-04 09:00] hardikvasa commented on #151
@dariodipa @Beastjdhr this was added in #169

Closing this issue.

[2018-11-04 09:00] #151 closed

[2018-11-04 09:03] wankio commented on #173
but i enabled it, and using google images search url to download, it download all "google" words not url

[2018-11-04 09:03] hardikvasa commented on #155
@jubyshu can you quickly forward me the complete query you are using? also are you behind a proxy?

[2018-11-04 09:04] hardikvasa commented on #148
closing this due to inactivity. Feel free to re-open the issue with additional info.

[2018-11-04 09:04] #148 closed

[2018-11-04 09:06] hardikvasa commented on #159
@lbenassi @ahmed-bensaad as per the above comment from @devajith you will need to use the chromedriver flag and specify the path of the driver. All the details are in the documentation.

Closing this issue.

[2018-11-04 09:06] #159 closed

[2018-11-04 09:13] hardikvasa commented on #153
#154 was merged. The issue is resolved and the related_images work fine. However @jimgros you pointed that out right for the first issue you mentioned, can you open a PR for it? Closing this issue.

[2018-11-04 09:13] #153 closed

[2018-11-04 09:18] hardikvasa commented on #162
@ekosman this would be a good feature to have. But with the current implementation, the images are downloaded one by one as the script finds new links. This saves a lot of initialization time.

With that being said, I have a way to workaround this situation to have random images downloaded.

[2018-11-04 09:32] hardikvasa commented on #165
@BigRedT can you give me the complete query that you were using? Were the images skipped on getting 503s or did the script break? If it is latter, I will need the query to reproduce the issue from my end.

[2018-11-04 11:50] jimgros commented on #153
Done
(that was my first PR :P )

[2018-11-04 13:32] BigRedT commented on #165
@hardikvasa it wasn't a single query. I was executing multiple single-word queries in parallel using `starmap` function in the python `multiprocessing` module and downloading 20 images per query. Those 60000 images actually correspond to 3000 queries, which actually might be the limit on free queries allowed by Google per user per month.

Here are some snippets from my parallelized implementation.

[2018-11-05 03:19] kkhzz1004 opened #178 "How can i get next 100 data?"
hi guys, this is awesome project
i just wonder if i get 100 data(maybe from first page).
how can i get next 100 data(like from next page or specific page).
anyone knows this?

[2018-11-05 08:49] jeraldpunx commented on #167
I mean extracting all url into json, not print in console. it shows me in console only and on my download folder, it creates a folder name of a keyword.

[2018-11-06 19:40] albertusgeyser opened #179 "image url only"
Good Day

Received that feature implemented, but need some help to retrieve url.

My current code:

response = google_images_download.googleimagesdownload()
	arguments = {"keywords": str(code),"limit":1,"no_download":True}
	paths = response.download(arguments)
	print(paths)

how can i add url to a variable?
url = paths

Hope anyone could help as my string give: {'Code': [None]}

Thank You

Albertu

[2018-11-07 15:37] ThomasBourgeois opened #180 "offset option doesn't work"
I just tried the offest option with following :
--of 100 --limit 100
to get the next 100 pics. (I can't install chromedriver on my machine to directly get the first 200)

I get the following result : only one image is downloaded.
I think the program skips exactly the ones he wants to download.
I get the same kind of weird behaviour with --of 50 -- limit 100 : the program only downloads 51 to 100.

[2018-11-07 18:13] albertusgeyser commented on #179
Could anyone help to inform me how i can only get image url for images?

Thank You

Albertus Geyser

[2018-11-08 02:55] hellogan commented on #179
Hey Albertus - I just made a PR to fix this, you should be able to see the link above and monitor the change's status there.

[2018-11-08 04:59] albertusgeyser commented on #179
Good Day

Thank you for code.

Is this change? as i change it to do test, but not sure if correct:

# Download Images
    def download_image(self,image_url,image_format,main_directory,dir_name,count,print_urls,socket_timeout,prefix,print_size,no_numbering,no_download):
        if print_urls or no_download:
            print("Image URL: " + image_url)
        if no_download:
            return "suc

[2018-11-12 10:15] wustczx opened #182 "Errors: 169"
question:
Unfortunately all 20000 could not be downloaded because some images were not downloadable. 706 is all we got for this search filter!
Errors: 169

every time I running,this error always occured.

[2018-11-12 19:30] hellogan commented on #179
Yep, that looks like the change I made. So changing the code to that locally should work until the change is merged in to the master branch. (Just make sure you remove the *s)

[2018-11-13 21:00] savardmario opened #183 "Format type filter gather files with wrong extension"
I used version 2.5.0 with the following command: python google_images_download.py --keywords "clown" --format "png" --limit 15 --size medium

I do get .jpg even if I specified "png" as requested format. I would expect to receive only png files.

Completed Image ====> 1. aj5chhqwc308cw7ja9d0.png
Completed Image ====> 2. pennywise.png
Completed Image ====> 3. ronald-mcdonald-clown-hed-a-2016.png
Com

[2018-11-13 22:02] savardmario commented on #183
I pushed more the investigation and it seems related to the fact that PNG images are wrongly named "jpg". Maybe the file extension should be enforced. For instance, if requesting PNG, jpg file extension should be renamed .png instead of letting .jpg.

[2018-11-14 07:42] liciciyi opened #184 "if Could not open URL. Please check your internet connection and/or ssl settings"
Evaluating...
Could not open URL. Please check your internet connection and/or ssl settings
Starting Download...
Traceback (most recent call last):
  File "google_images_download.py", line 913, in <module>
    main()
  File "google_images_download.py", line 905, in main
    paths = response.download(arguments)  #wrapping response in a variable just for consistency
  File "google_images_download.py

[2018-11-14 08:57] danmcquillan opened #185 "hangs on 'Evaluating' when using selenium/chromedriver to download >100 images"
the script works fine when downloading less than 100 images.
however when i try to download more than 100 it hangs on 'Evaluating'.
i have installed the latest version of google-images-download and the most recent chromedriver.
i am running ubuntu 16.04
when i interrupt with ^C, here is the output:

googleimagesdownload -k happy -o happy -l 200 -cd "/usr/bin/chromedriver"

Item no.: 1 --> Item nam

[2018-11-15 14:48] wankio opened #186 "Filename have Special Characters"
Today when i'm trying to run it, i saw every files have special characters always skipped

eg : 6047042i?

so we can config to auto rename these special characters ?

[2018-11-17 18:23] yairhasfari opened #187 "Adding an option to exclude a website"
Can you add an option to exclude a specific website from the search?
for example, when searching google i can usually add : "-site:https://wikipedia.com" and results will exclude images from that website

[2018-11-19 05:08] MacwinWin opened #188 "Looks like we cannot locate the path the 'chromedriver'"
Ubuntu 16.04
chromedriver 2.43.600233

I install googleimagesdownload through pip, and install chromdriver through:
`chmod +x chromedriver`
 `sudo mv chromedriver /usr/bin`
 `export PATH="$PATH:/usr/local/chromedriver"`
 `source ~/.profile`

when `googleimagesdownload -k "xxx" -cd /usr/bin/chromedriver -l 110` got
`"Looks like we cannot locate the path the 'chromedriver' (use the '--chromedriver'

[2018-11-19 06:51] MacwinWin commented on #188
I have solved this problem, by remove the "proxychains4", this may get trouble with selenium.

[2018-11-19 06:51] #188 closed

[2018-11-19 10:30] enricopal opened #189 "x-raw-image"
Hello,
I am using googleimagesdownload to get the URLs of images found on google.
I am using the CLI from within python and saving the printed URLs:

[code]

This works fine in general, but sometimes I get some weird results such as: x-raw-image:///c2cd85e815606ceef9f9926580a481686218ff8f1979e26816d1ba45f9eedeaa
which do not even seem to be URLs, they do not point to any image.

Does anyone have a

[2018-11-19 10:43] enricopal commented on #89
I've also stumbled upon this issue with python 3.6.3. Works fine with 3.6.0.

[2018-11-21 17:45] danmcquillan commented on #185
apologies.
the problem here was using the wrong version of chromedriver for my version of chrome.
i have downgraded chromedriver and everything now works as expected.

[2018-11-25 21:10] rajexp commented on #165
I am also struck with the same error. I have a script running every 10 minutes to fetch for a single image each for different URLs. I successfully downloaded for 4500 odd images but it is continuously giving me error on the server machine.
I am in a dire need for a workaround.

[2018-11-26 04:53] krissdap commented on #89
Just a little update.
I just tested on Ubuntu desktop and all is fine. (Gnome's terminal supports UTF-8 output)
So I guess the issue is specific to Windows at this point.

[2018-11-26 17:46] jcpeterson opened #190 "how to limit search results by region?"

[2018-11-27 14:38] KiransHub opened #191 "TypeError: __init__() takes 1 positional argument but 2 were given`"
I'm using this code:

[code]
and I'm getting this error:

[code]

Am I doing something wrong?

[2018-11-28 07:00] afcruzs commented on #110
Hi @hardikvasa thank you for this awesome library. A suggestion: I was a bit confused about how to use the `chromedriver` argument in the json config, it turns out it needs to be set on each record. I think is reasonable to use the same chromedriver path for all the records instead of duplicating the argument on each record. Going a bit further I identified a list of arguments that could be 'globa

[2018-11-28 07:07] hardikvasa commented on #110
@afcruzs thanks. that makes sense to make chromedriver param global at the very least. can you please open another issue so we can track this feature request?

[2018-11-28 07:19] afcruzs opened #192 "Allow global arguments in config file"
When using the json config file all the arguments must be set _per record_. In some cases like `chromedriver`, the argument is the same across all the records. I propose to read such 'global' arguments for all the records to avoid duplication.

It would be something like:

[code]

As opposed to:

[code]

If the global argument is defined in both places (the record and the global section) then we c

[2018-11-28 07:20] afcruzs commented on #110
Done @hardikvasa https://github.com/hardikvasa/google-images-download/issues/192#issue-385133610

[2018-11-28 16:02] dawnknight commented on #160
I think one quick way is that you can modify line 601 in google_image_download.py to
path = main_directory + "/" + dir_name + "/" + prefix + str(count).zfill(6) + ".jpg"
then the output file name will be the download order number

[2018-12-01 13:34] KiransHub commented on #191
@hardikvasa sorry I'm just bumping this because I really need it.

[2018-12-01 13:59] KiransHub commented on #191
Ah okay I found the answer myself in your markdown file. I thought I'd copied something from one of your tests but it's entirely possible I got it wrong! Sorry to trouble you! I will close this issue now.

[2018-12-01 13:59] #191 closed

[2018-12-04 07:47] shubham-5592 commented on #192
created a PR for the same #194

[2018-12-12 03:12] RobertAuditore commented on #185
hi could you help me with the similar problem?
i have download the correct version of  chromedriver, but the script can not download anything when the parameter "-l" more than 100.

`googleimagesdownload --keywords "star" -l 101 --chromedriver "/home/yyy/Downloads/chromedriver"

Item no.: 1 --> Item name = star
Evaluating...
Getting you a lot of images. This may take a few moments...
Reached end o

[2018-12-13 13:45] blairly commented on #187
I've submitted a PR with this feature added, pending merge:
https://github.com/hardikvasa/google-images-download/pull/195

[2018-12-16 19:20] dsimerly commented on #184
Had same issue running in python 3.6.
Tried in python 2.7 and it worked perfectly.

[2018-12-19 12:55] dreamPoet opened #198 "AttributeError: 'NoneType' object has no attribute 'find'"
Evaluating...
Could not open URL. Please check your internet connection and/or ssl settings
Starting Download...
Traceback (most recent call last):
  File "/home/shimeng/anaconda3/envs/pytorchEnv/bin/googleimagesdownload", line 11, in <module>
    sys.exit(main())
  File "/home/shimeng/anaconda3/envs/pytorchEnv/lib/python3.7/site-packages/google_images_download/google_images_download.py", line 904

[2018-12-19 12:56] dreamPoet commented on #198
I am using a proxy...

[2018-12-19 13:11] pixelnull opened #199 "Silent mode"
I am using this library to return the URL only and used the solution in issue #179 for that. Which works well, thank you for making it.

Is there a not too involved edit I can do to stop the print outputs? i.e. get rid of this:

Evaluating...
Starting to Print Image URLS
Image URL: https://url
Printed url without downloading

[2018-12-20 06:10] kranthik13 commented on #73
I had my chromedriver in this location - "/usr/lib/chromium-browser/chromedriver"
So just append your previous command with --chromedriver /usr/lib/chromium-browser/chromedriver

Hope it helps.

[2018-12-22 16:01] zafai opened #200 "-si (similar_images) search for more sizes"
When using the -si function it would be nice when we could also set an option that not search for similar images but displays "More sizes" when available

The idea behind this is to provide an image to google and search for a bigger size of higher quality.

[2019-01-01 03:14] GoTop commented on #119
the same go with "single_image", when "single_image" is set, other options like "output_directory" will not work. the image will be download to a directory name "downloads".

when I follow the the function single_image() in google-images-download, change the code a little as below, problem solved~

[code]

[code]

[2019-01-02 12:20] februarysea commented on #198
I have the same problem. This issue may help you.
[https://github.com/hardikvasa/google-images-download/issues/95](url)

[2019-01-03 13:47] Kogam22 commented on #73
Thank You ! This works perfectly fine.

[2019-01-04 20:55] loaiibnka3b6 commented on #178
i have the same question here what if i nedd more than 100 images

[2019-01-05 01:47] NanoMeko opened #201 "Anyone found a way to avoid the watermarked images? (getty, stock, etc.?)"
When I download a bunch of images, a large number of them come from sources where the actual google preview image has watermarks. Anyway to avoid this? I understand that it's to protect IP but for research purposes and since sometimes non-watermarked images are available after clicking through, is there a flag for avoiding or skipping those images?

[2019-01-08 14:14] DHammarberg commented on #149
Sure sounds like Google's protection against automated searches. One can usually get around it by throwing in random delays between requests, but it goes without saying that they don't want us to script searches.

[2019-01-09 06:10] HelloWorld19930113 opened #203 "asd"

[2019-01-10 17:57] whittyskitty opened #205 "Rename Image to Keyword without Prefix"
Hello,

Similar to closed issue to #167, I am trying to name the file by the search phrase, similar to how the prefix works, but not append that to the beginning of the previous file. Basically is it possible for the prefix to become the file name?

Thanks

[2019-01-23 13:58] phyogesh opened #208 "syntax error"
Hello,
I am very very new to python coding and using Jupyter hub notebook. I am getting syntax error for the following code, any thoughts on how to correct:

!pip install google_images_download

import google_images_download
googleimagedownload --keywords "car" --limit 2

File "<ipython-input-62-37bb38122467>", line 2
    googleimagedownload --keywords "car" --limit 2

[2019-01-23 18:08] Naman-Garg-06 commented on #208
I think this is a command line python program as mentioned in the readme. Also while running this command in terminal, it is giving correct results.

[2019-01-25 14:28] wankio opened #209 "related_images in images.google"
each result in images.google have 7 related images and one related link, how i can download 7related images in each images result ?
i'm tried with --related_images but i think it only work with words not link

[2019-01-26 20:39] clem9669 commented on #201
I don't see for my perspective any way to do that :(

[2019-01-27 21:34] phyogesh commented on #208
Thank you!

[2019-01-27 21:34] #208 closed

[2019-01-30 03:10] krissdap commented on #201
I guess you could try maintaining a list of domain that you would not want an image from.
E.g. https://media.gettyimages.com/

[2019-02-06 13:33] sorathesky opened #211 "Passing the json config file through a script, no example of function"
I'm trying to use this as a way to download images for an ML script. The one thing I don't get is why this is not working.

arguments = {"config_file": "example.json"}
paths = response.download(arguments)

I can't seem to get it to work following the convention of the example you set.

Please refer to the documentation on guide to writing queries
https://github.com/hardikvasa/google-images-downloa

[2019-02-06 22:17] reshma67 opened #212 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 1542: character maps to <undefined>"
I have come across this issue while hitting the command
googleimagesdownload --keywords "baseball game" --limit 500 --c C:\Users\murali\Downloads\chromedriver_win32\chromedriver.exe

the error was from google_images_download.py
json_file = json.load(open(config_file_check[0].config_file))

[2019-02-07 05:07] krissdap commented on #212
The parameter `--c` means you want to specify the config file for it to read.

If you would like to specify location of chromedriver, you should use `--chromedriver` instead.

So here's what is should look like.
`googleimagesdownload --keywords "baseball game" --limit 500 --chromedriver C:\Users\murali\Downloads\chromedriver_win32\chromedriver.exe
`

[2019-02-09 00:01] peterliu1212 commented on #145
I am facing the same problem. Is the problem really solved?
Error: httplib.BadStatusLine: ''

[2019-02-14 07:50] f2fish commented on #73
I find the easy to fix this
2.
googleimagesdownload -k "angelababy" -cd /usr/lib/chromium-browser/chromedriver -l 400

thanks everyone

[2019-03-01 01:45] rainyl commented on #198
I have the problem too....i am using a socks5 proxy, but it doesn't work, i also changed all 'google.com' to 'google.com.hk' as mentioned but no help...I am wondering whether it supports the socks5 proxy...

[2019-03-13 13:18] JiweiTian commented on #163
+1

[2019-03-13 17:40] 4OH4 opened #214 "Downloading related images produces incorrect directory syntax"
When downloading with the --related-images parameter, the downloader tries to create a directory with an invalid name and crashes.

For example (Windows 10, Python 3.6):
`python google_images_download.py -k "disc brake" -l 10 -ri `

...produces:
`Item no.: 1 --> Item name = disc brake`
`Evaluating...`
`Starting Download...`
`Completed Image ====> 1. 1200px-disk_brake_dsc03682.jpg`
`Completed Image

[2019-03-15 08:45] SuJiKiNen opened #215 "Chrome driver should respect proxy setting"
On Windows,`http_proxy` environment variable not works for driver.

[2019-03-21 06:47] newgren commented on #180
I have the same issue. Great extension so far otherwise.

[2019-03-24 03:34] GoTop commented on #89
when I useing the Chinese as keyword，and set the argument “metadata”，this error occure
[code]

Then I change some the code in function format_object(self, object)
`formatted_object['image_description'] = object['pt']`
to
`formatted_object['image_description'] = object['pt'].encode('raw_unicode_escape').decode('utf-8')`

then it‘s OK to set the argument “metadata” to prints the metada of the image

[2019-03-25 15:08] cmingxu opened #216 "I am wondering does this support socks5 proxy?"
I want use it with sock5 proxy, does this support, thanks

[2019-03-26 17:55] reinoldus opened #217 "Names containing slashes cause error in logs saving (extrac_metadata)"
Hi,
if the keyword contains slashes, then these are not properly cleaned while saving the logs from extract_metadata:
item name would be: SOME ITEM/demo

Also it would be awesome, if the logs were saved where the images are saved.

If I find the time I will submit a pull request!

[2019-03-27 13:43] ASH1998 commented on #73
While using arguments,
you can specify the path...kinda like this

First
`response = google_images_download.googleimagesdownload() `
Then,
`arguments = {"keywords": query,
				"format": "jpg",
				"limit":200,
				"print_urls":True,
				"size": "medium",
				"aspect_ratio": "panoramic",
				"output_directory": r"E:\Python Coding\Images download\Images3",
				"chromedriver": r"E:\DATA SETS & compre

[2019-03-28 03:54] krissdap commented on #89
I can confirm that appending
<code>
.encode('raw_unicode_escape').decode('utf-8')
</code>
to the string being printed to screen solved my original issue.

Thanks GoTop!

[2019-03-28 18:31] thedward opened #218 "Reserve STDOUT for Parsable Output"
When calling the tool from a script, it would be tremendously useful  if any progress, logging, or diagnostic messages were sent to **`STDERR`** instead of **`STDOUT`** — reserving **`STDOUT`** for the computer friendly output of `print_urls`, `print_size`, and `print_paths`.

[2019-04-01 14:38] kalmengr opened #220 "Allow to put list of URLs in a variable"
Add an argument like `'list_urls': 'my_url_list'` to put all urls of the downloaded images in the specified variable. Especially useful when not downloading any images but only getting the urls

[2019-04-03 22:54] #203 closed

[2019-04-04 03:26] hardikvasa commented on #182
@wustczx what python version are you running this script on? I have seen 3.6 perform has much higher performance while making HTTP calls as compared to 2.7

[2019-04-04 03:32] hardikvasa commented on #199
@pixelnull i like the idea to have a silent mode. It would make a good feature.
currently it would be tricky as it would mean you will have to remove multiple print statements from various places.

[2019-04-08 12:49] Cerebrock opened #222 "Allow for uploads in similar_images"
Google provides the functionality to "search by image", could that be incorporated?
Thank you for the lib! :)

[2019-04-10 21:34] alain2208 opened #223 "dictionary changed size during iteration"
Hi nice job ...but
when using chromedriver on windows 10 (the good version for the chrome installed) always got this error and download failed all

D:\driver>googleimagesdownload -k "dog" -l 101 -s medium -cd "d:/driver/chromedriver.exe"

Item no.: 1 --> Item name = dog
Evaluating...

DevTools listening on ws://127.0.0.1:59201/devtools/browser/4a97cbd2-429c-4ebb-979e-e9d61a225bb0
[0410/233117.134:

[2019-04-14 10:15] sajmaru opened #225 "importerror"
cant run this
----------------------------------------
from google_images_download import google_images_download   #importing the library

response = google_images_download.googleimagesdownload()   #class instantiation

arguments = {"keywords":"Polar bears,baloons,Beaches","limit":20,"print_urls":True}   #creating list of arguments
paths = response.download(arguments)   #passing the arguments to t

[2019-04-14 11:14] GoTop commented on #89
I notice some `\u0000` style strings are printed on the screnn too, do you know how to translate them into normal string?

[2019-04-17 09:38] captainantilles commented on #214
I second this finding. Would it make sense to implement the function, so that it creates a forthrunning directory structure? ie. 1,2,3,4 etc for each related image? I have not checked the output that it supposed to generate. The error also happening for a single word, ie: googleimagesdownload -k "paris" -l 5 -ri

[2019-04-18 07:48] veera83372 commented on #81
I have written a script to download images from google before I found it
Where I encountered the same issue of downloading corrupted/random formats of images

I have fixed it by changing the following code to use Google own URL
https://github.com/hardikvasa/google-images-download/blob/e9189d4d5ff755cc1a9fbb29c3e6c6b459551a6a/google_images_download/google_images_download.py#L260

[2019-04-21 09:45] GoTop commented on #89
A little update to solve the problem:
some unprintable character show as unicode like "\\u201c" in the json file which save images' metadata.

In function format_object(self, object)
change the code:
`formatted_object['image_description'] = object['pt']`
to
[code]

[2019-04-22 16:15] stoneeve415 commented on #185
@danmcquillan Hello, can you tell me which chromedriver i should use? my chrome version is 73.0.3683.75 (Official Build) (64-bit), and the chromedriver is 73.0.3683.68(not found 75), but still meet the hang on problem~thank you!

[2019-04-22 22:34] hardikvasa commented on #81
@veera83372 can you further elaborate on what change did you make? maybe with a code snippet?

[2019-04-23 00:55] hardikvasa commented on #178
@kkhzz1004 @clem9669
yes all the instructions are in the readme file. Let me know if you have any other questions.

[2019-04-23 00:55] #178 closed

[2019-04-23 01:01] hardikvasa commented on #205
@whittyskitty just to know a little more on your ask, for example if you are searching for the term `stars`, do you intend to have file names as

1. stars.jpg
2. stars.jpg

??

[2019-04-23 01:05] hardikvasa commented on #201
@NanoMeko the images are retrieved from the URL that the search provides and hence it is not possible to gather images without watermarks. I will look into the PR for blacklisting domains so you can avoid URLs that commonly have watermarks as @krissdap suggested :)

[2019-04-23 01:05] #201 closed

[2019-04-23 01:10] hardikvasa commented on #191
KiransHub glad you were able to make it work!

[2019-04-23 04:34] hardikvasa commented on #89
@krissdap Sorry for the delay in getting to this. Working on resolving this now. I will test it in one of the windows instances but can you confirm if changing the below lines would suffice for both **python2 and python 3**?

* `print(iteration)` to `print(iteration.encode('raw_unicode_escape').decode('utf-8'))`
* `print(paths)` to `print(paths.encode('raw_unicode_escape').decode('utf-8'))`
* `pri

[2019-04-23 05:06] hardikvasa commented on #189
@enricopal the above example you provided works when i test it on my end (mac, python2/3). Do you see the mentioned behavior in the example provided? or do you unexpected image result with a different keyword? Basically i am not able to reproduce this issue on my end and additional info would help me find out if there is any edge case scenario here.

[2019-04-23 05:24] hardikvasa commented on #180
@ThomasBourgeois this is currently the expected behavior. The only way to download more than 100 images is to use chromedriver. Without chromedriver the page would only return 100 URLs and offset would just end on 100. It would however be good to use an API (hosted on a public server) to make these calls on your behalf and return URLs to client for downloading which will not require the use of Chr

[2019-04-23 05:24] #180 closed

[2019-04-23 05:30] hardikvasa commented on #179
closing as the original issue seems to be resolved.

[2019-04-23 05:30] #179 closed

[2019-04-23 07:29] stoneeve415 opened #226 "Automaticly Interrupted after open the browser"
when I run "googleimagesdownload -cd "/usr/bin/chromedriver" -k "head" -l 101"
the chrome automaticlly open, but several minutes late,  it Interrupted. someone warm-hearted help me?

Item no.: 1 --> Item name = head
Evaluating...
Getting you a lot of images. This may take a few moments...
Traceback (most recent call last):
  File "/home/evestone/anaconda3/envs/py36/bin/googleimagesdownload", line

[2019-04-23 08:29] stoneeve415 commented on #226
I just find the proxy cause the problem(I am in China).
But i failed to use -px parameter, so i turn to browser, But chrome cannot install extension, so i use firefox.
1.change the file google_images_download line169
browser = webdriver.Chrome(chromedriver, chrome_options=options) to browser = webdriver.Firefox()
2.and then Configure vpn in firefox(use Proxy SwitchyOmega)
Finally i can download mo

[2019-04-23 08:30] #226 closed

[2019-04-23 12:08] veera83372 commented on #81
Actually, I have made that change in my fork but it spoiled naming of the downloaded image.
I can do PR.

[2019-04-27 07:59] JeremyRSScott commented on #81
Hi,
I've been able to replicate some of this and from what I can see there are some various issues. The search I performed was google_images_download -k "tiffany snsd" -l 100 -f "jpg". I got some issues as follows: with a file that was meant to be .webp extension.

[2019-04-27 18:38] hardikvasa commented on #225
@sajmaru import works when the library is installed using `pip install google_images_download` command. Did you install the library in your machine?

[2019-04-27 18:44] hardikvasa commented on #223
@alain2208 do you get the same error when downloading <= 100 images? or is the error only seen when going beyond 100?

[2019-04-29 23:11] hardikvasa commented on #190
Region not currently into list of params. Adding this to the list of feature requests.

[2019-04-29 23:15] hardikvasa commented on #215
@SuJiKiNen did you try the proxy argument of the library? More information in the README file.

[2019-04-30 01:01] SuJiKiNen commented on #215
@hardikvasa I tired,the Chrome driver has a proxy option,how about explicit pass proxy setting to it?

[2019-04-30 01:30] hardikvasa commented on #215
@SuJiKiNen chromdriver proxy option was not used because not all cases require you to use chromedriver. When you are not downloading bulk images chromedriver is not in use. Did --proxy setting work for you?

[2019-04-30 02:04] SuJiKiNen commented on #215
@hardikvasa I am not sure,It's been a long time, and I was downloading the bulk images, and it failed to respect proxy setting, sorry for this.I forgot to mention it.

[2019-04-30 02:07] hardikvasa commented on #215
no worries at all. closing this issue for now. Do update this thread if you still see the issue when using proxy arg. I have tried it on my end and proxy seems to be working as expected.

[2019-04-30 02:07] #215 closed

[2019-04-30 02:16] hardikvasa commented on #89
Made the above changes to the print statements. Do let me know if this is still an issue.

[2019-04-30 02:22] hardikvasa commented on #160
this can be achieved using the --prefix or -pr option. More info in the readme file.

[2019-04-30 02:22] #160 closed

[2019-04-30 05:58] hardikvasa commented on #214
@4OH4 @captainantilles this was recently fixed in #177 . Can you confirm if new version of this lib resolves the issue for you?

[2019-04-30 11:43] captainantilles commented on #214
googleimagesdownload -k "paris" -l 5 -ri produces "ValueError: stat: path too long for Windows" as an error still. I tried to update via pip, not sure if that gives me the correct version with the fix included. Is there a command to verify the build/version?

[2019-04-30 17:42] freddierice opened #229 "Add Raw Image Feature"
Add the ability to download 'raw' images (i.e. cr2, dng, etc.).

[2019-04-30 20:31] hardikvasa commented on #187
Awaiting some corrections on #213 before it can be merged.

[2019-05-01 04:53] hardikvasa commented on #229
Closing as #230 was merged

[2019-05-01 04:53] #229 closed

[2019-05-01 05:03] hardikvasa commented on #186
@wankio sorry for the delayed response. Can you further elaborate on the issue? what is the command you were trying to use and what files were skipped?

[2019-05-01 06:05] wankio commented on #186
i'm just use -u googleimagessearchlink . it would be great if i can extract image url instead download it so it can solved this problem :)

[2019-05-04 11:51] sq5rix opened #231 "php files galore"
Hi!
Thank you for excellent library!!
I have a following query in my python file:
absolute_image_paths = response.download(arguments = {"keywords":'"'+ line + '"',
                                            "output_directory":BUG_DIR,
                                            "image_directory":words[1],
                                            "size":"large",

[2019-05-05 04:06] hardikvasa commented on #211
@sorathesky This is a missing feature. When `config_file` feature was added, it was only for command line interface commands and not for imports. I am am planning to added this sometime soon.

[2019-05-05 05:01] hardikvasa commented on #231
@sq5rix getting some images other than what you have specified in `"format"` param is a known issue which I am trying to resolve. Can you give me one or more of the complete keywords that you used which resulted in the mentioned behavior? That will help me in troubleshooting the issue further.

[2019-05-05 05:26] hardikvasa commented on #214
@captainantilles
you can upgrade the library with the command
`pip install google-images-download --upgrade`

then you can use the following command to verify the version
`pip freeze | grep google-images-download`

let me know if version 2.6.1 still gives you this issue...

[2019-05-05 09:43] sq5rix commented on #231
Hi!
Here you go. It is a search which takes lines from text file, I attached head of the file

https://gist.github.com/sq5rix/6dc81e5819df3ba542868c4ae0879905

I noticed that if I ask to save a picture url, I get less php files

Greetings,
Tom

[2019-05-05 10:35] marian-code commented on #199
There is a super easy way to do this, with use of contextlib. But it is rather a workaround than a good long therm solution. Just use this:
`from contextlib import redirect_stdout`
than wrap the call to main() with it.
[code]
Here is the link do docs: https://docs.python.org/3/library/contextlib.html#contextlib.redirect_stdout

[2019-05-06 08:17] captainantilles commented on #214
@hardikvasa I still have the problem. the package is up to date. Please see the log og the commands below.

`C:\Temp>pip install google-images-download --upgrade
Requirement already up-to-date: google-images-download in c:\users\milterm\appdata\local\programs\python\python37-32\lib\site-packages (2.6.1)
Requirement already satisfied, skipping upgrade: selenium in c:\users\milterm\appdata\local\pro

[2019-05-06 08:19] captainantilles commented on #214
@hardikvasa See the full log here: [https://www.dropbox.com/s/agfovamiw0s42f3/output.log?dl=0](url)

[2019-05-06 09:49] zyoohv opened #232 "Error: KeyError: 'ity'"
## setting

python==3.6

## command

[code]

## error

[code]

[2019-05-07 06:01] hardikvasa opened #233 "Migrate docs from GitHub to Sphinx based ReadTheDocs"
for scaling the docs further...

[2019-05-07 06:58] hardikvasa commented on #186
@wankio you can use the `no_download ` flag to get image URLs without actually downloading them.

[2019-05-07 07:06] hardikvasa opened #234 "[Bug] Incorrect dir naming when using --related_images flag"
Sample command:

`googleimagesdownload -k kite -l 2 -ri`

[2019-05-07 07:09] hardikvasa commented on #214
@captainantilles the original issue was fixed in #177 . What you are referring to is a new bug that was caused due to some changes in the source pages retrieved. Tracking it in #234 . Closing out this one.

[2019-05-07 07:09] #214 closed

[2019-05-07 14:50] hardikvasa commented on #205
Closing due to inactivity. Feel free to update the thread when you have additional info.

[2019-05-07 14:50] #205 closed

[2019-05-07 14:57] hardikvasa commented on #182
closing due to inactivity.

[2019-05-07 14:57] #182 closed

[2019-05-07 15:02] hardikvasa commented on #165
Yea seems to be like server is throttling on the request rate. @BigRedT @rajexp can you give me a complete error stack trace if you still have it? That will help me build a custom retry mechanism within the library to avoid failures.

[2019-05-07 15:03] hardikvasa commented on #155
closing due to inactivity.

[2019-05-07 15:03] #155 closed

[2019-05-08 09:58] krissdap commented on #89
Hi @hardikvasa

So I have just tested your solution on Python 2.7.15 (64-bit) and Python 3.6.8 (64-bit) on Windows 10 64-bit, and it works fine. (Unprintable chars are displayed with \u0e02, etc).

Thanks.

P.S. Noticed that you have the <code>print(iteration)</code> and <code>print("completed ====> " + image_name</code> fixes in place. But still not yet the fix for <code>print(paths)</code>.

Bes

[2019-05-08 09:58] #89 closed

[2019-05-08 14:25] hardikvasa commented on #173
@wankio sorry for the late reply. Did reverse image search not work for you? Can you give me an example of a search query you made using reverse search? Google uses reverse search when you click on related images for each image.

Also this library is specific to google image search/download and there are little chance for this lib to support other engines...but I will keep that in mind. Thanks :)

[2019-05-08 17:22] hardikvasa commented on #123
closing due to inactivity.

[2019-05-08 17:22] #123 closed

[2019-05-08 17:48] hardikvasa commented on #124
@jimgros after some looking and trying to find a solution, I think there is no way to extract time the image was indexed in Google. Sad.
closing this issue.

[2019-05-08 17:48] #124 closed

[2019-05-08 17:51] hardikvasa commented on #126
@patrick-plutoflume i think this was an edge case scenario which would have caused this error. The fix was sent many commits away. Can you confirm if this is still an issue?

[2019-05-08 17:58] #138 closed

[2019-05-09 02:47] hardikvasa commented on #129
This was resolved a while back. Thanks for pointing it out in first place. Closing this issue. :)

[2019-05-09 02:47] #129 closed

[2019-05-10 08:06] Aidenir commented on #89
Not sure I understand what the problem is in this thread, just wanted to give a heads up that code I ran a few weeks back no longer works:
[code]
The code that produces this is:
[code]
Downgrading to 2.5.0 this works perfectly.

[2019-05-10 19:38] hardikvasa commented on #122
Thanks @TheClassyPenguin for the issue.

This feature was implemented in https://github.com/hardikvasa/google-images-download/commit/10b8f5b77b2707ee05753c1a73b0938e4a8a2463 . Closing this issue.

[2019-05-10 19:38] #122 closed

[2019-05-10 19:42] hardikvasa commented on #211
@sorathesky this feature was added in https://github.com/hardikvasa/google-images-download/commit/10b8f5b77b2707ee05753c1a73b0938e4a8a2463 . Let me know if you still see issues with it. Closing the issue for now.

[2019-05-10 19:42] #211 closed

[2019-05-10 19:44] hardikvasa commented on #199
This was natively integrated in https://github.com/hardikvasa/google-images-download/commit/10b8f5b77b2707ee05753c1a73b0938e4a8a2463 . Closing the issue.

[2019-05-10 19:44] #199 closed

[2019-05-10 19:47] hardikvasa commented on #234
Resolved in the above referenced commit. Closing this issue.

[2019-05-10 19:47] #234 closed

[2019-05-10 19:52] hardikvasa commented on #232
@zyoohv this seems related to #234 although I am not very sure. I have made some changes to the `related_images` argument. Can you confirm if you are seeing the same issue after upgrading the lib to `2.7.0` version?

[2019-05-10 19:54] hardikvasa commented on #231
Thanks! I will check this out soon.

[2019-05-11 12:26] jimgros commented on #124
Thanks for trying!

[2019-05-11 17:52] hardikvasa commented on #126
Feel free to re-open the issue or comment on this thread if the issue still persist.

[2019-05-11 17:52] #126 closed

[2019-05-11 17:56] hardikvasa commented on #131
The original issue reported should be fixed many commits back. The feature request to continue for where the download failed is being tracked in #128 . Thanks for reporting this!

[2019-05-11 17:56] #131 closed

[2019-05-11 18:22] hardikvasa commented on #136
After some search I realized that this will not fix. There is no way to specify more than one image in the URL and hence as mentioned in #57 will need to be done via config file.

[2019-05-11 18:22] #136 closed

[2019-05-11 18:24] hardikvasa commented on #140
@daolq3012 thanks for the comment. I will add this in the docs within the troubleshooting section.

[2019-05-11 18:27] #142 closed

[2019-05-11 18:32] hardikvasa commented on #150
Sorry for the delay in getting back. What OS version and flavor are you guys are on? Also what version of chromedriver you are using?

[2019-05-11 18:35] hardikvasa commented on #158
#140 command will resolve the issue with python 3.7. Feel free to re-open the thread if the issue still persist.

[2019-05-11 18:35] #158 closed

[2019-05-11 19:19] hardikvasa commented on #163
Sorry for the delay in getting back. Is this issue still happening?
What OS/version are you running this on? Is this reproducible? If so, can you give me the example query to test it?

[2019-05-11 19:20] hardikvasa commented on #162
Closing this issue for now. I have added this to my backlog and I will get to this a little later. Thanks for the feature request though.

[2019-05-11 19:20] #162 closed

[2019-05-12 11:11] hollandasa opened #237 "FileNotFound for sample_config.json"
Hi all,

Non-programmer here, so I'd appreciate any help you guys could provide. I have created a config file using Notepad++ and saved it as a .json file within the same directory as the google_images_download file. I attempted to run using cmd within the googleimagesdownload program, but my attempt gave me the error "No such file or directory."

Figuring I made a mistake, I attempted to import t

[2019-05-12 17:49] hardikvasa commented on #237
`googleimagesdownload` is an executable which is not where you have installed your library. The `sample_config.json` should be in the directory from where you are running this command "C:\Users\Asa" .

[2019-05-12 18:29] hollandasa commented on #237
Brilliant! Thank you very much for replying! I knew it was a stupid mistake on my part.
Loaded my config file properly and am now successfully downloading images. Many, many thanks.

[2019-05-12 18:29] #237 closed

[2019-05-12 18:37] hardikvasa commented on #237
Happy to help!

[2019-05-12 19:01] hardikvasa commented on #81
@JeremyRSScott you are right. For most cases, the issue with corrupted images are directly tied to the image files saved with incorrect file extension. Its long overdue to change the file saving part of the code within the lib. Looking to update that soon.

[2019-05-14 00:37] hardikvasa commented on #81
The code logic has been changed slightly. It will no longer download corrupt image files with no extension or download corrupt images. For some reason if it downloads one-off image that cannot be opened, will be cleaned by the code snipped mentioned here (thanks to @devajith ):

https://google-images-download.readthedocs.io/en/latest/examples.html#library-extensions

Let me know if you still have

[2019-05-14 00:40] hardikvasa commented on #189
This is now resolved in https://github.com/hardikvasa/google-images-download/commit/cf5ff4876b8384ef0d92e68b66fa648e494d2640

closing the issue.

[2019-05-14 00:40] #189 closed

[2019-05-14 00:41] hardikvasa commented on #183
This is now resolved in https://github.com/hardikvasa/google-images-download/commit/cf5ff4876b8384ef0d92e68b66fa648e494d2640

closing this issue for now. If the issue still persist, feel free to reopen this thread.

[2019-05-14 00:41] #183 closed

[2019-05-14 00:44] hardikvasa commented on #231
Some changes were made to the algo in https://github.com/hardikvasa/google-images-download/commit/cf5ff4876b8384ef0d92e68b66fa648e494d2640 . Can you try again and let me know if this works as expected now?

[2019-05-14 23:56] sq5rix commented on #231
Hi!
I run again with new code.
I report no errors
Great job!!

[2019-05-14 23:56] #231 closed

[2019-05-15 14:16] hardikvasa commented on #233
Migrated...closing.

[2019-05-15 14:16] #233 closed

[2019-05-15 23:56] hardikvasa commented on #232
closing the issue due to inactivity. Feel free to open this thread or comment here if the issue still persist.

[2019-05-15 23:56] #232 closed

[2019-05-15 23:56] hardikvasa commented on #186
closing this due to inactivity. Feel free to reply back if you still have any questions.

[2019-05-15 23:56] #186 closed

[2019-05-15 23:57] hardikvasa commented on #173
closing due to inactivity.

[2019-05-16 18:50] hardikvasa commented on #165
Closing this thread for now. let me know if this issue pops up again and i will investigate it further :)

[2019-05-16 18:50] #165 closed

[2019-05-16 18:59] hardikvasa commented on #184
@liciciyi What python version are you on? Does this happen consistently or intermittently? Also are you behind a proxy?

[2019-05-16 19:02] hardikvasa commented on #223
Closing this thread due to inactivity. Follow the troubleshooting guide if you have issues with chromedriver on windows machine.

https://google-images-download.readthedocs.io/en/latest/troubleshooting.html#installing-the-chromedriver-with-selenium

Add more info here if you are still seeing this issue.

[2019-05-16 19:02] #223 closed

[2019-05-17 05:47] hardikvasa commented on #225
closing this issue due to inactivity. Feel free to comment if once you have additional info here.

[2019-05-17 05:47] #225 closed

[2019-05-17 14:08] wankio commented on #173
@hardikvasa

here https://www.google.com/search?q=persian+cat+stock&tbm=isch&source=lnt&tbs=isz:l&sa=X&ved=0ahUKEwj-0eDv3aLiAhXDG6YKHXSkCncQpwUIHg&biw=2560&bih=1315&dpr=1#imgrc=rBk_6I8DXTNAwM:

it should work like https://imgur.com/a/iY8M5cq

[2019-05-17 17:50] hardikvasa commented on #209
closing this as duplicate of #173

[2019-05-17 17:50] #209 closed

[2019-05-19 09:10] Gabrieldaboss65 opened #238 "Fix this repos README and added multi threaded asynronization."
idk what happened to the readme but i had to go look at an old commit were the documentation is in it. I dont like the website and it isnt convienent. also its very slow. issue #117 mentioned parallel threading. Why was this issue closed. its not fixed and its still an issue. Threading isnt difficult if its high level enough. it should be an argument along with what the deley should be to spawn a

[2019-05-21 17:27] hardikvasa commented on #187
This feature was merged, closing this issue. I will update the docs soon to reflect the changes.

[2019-05-21 17:27] #187 closed

[2019-05-21 18:25] hardikvasa commented on #140
Added to the [docs](https://google-images-download.readthedocs.io/en/latest/troubleshooting.html#urlopen-error-ssl-certificate-verify-failed)

closing this issue as it is external to the library.

[2019-05-21 18:25] #140 closed

[2019-05-21 18:36] hardikvasa commented on #81
closing this due to inactivity. Let me know if the issue still persist.

[2019-05-21 18:36] #81 closed

[2019-05-21 18:36] hardikvasa commented on #150
closing due to inactivity.

[2019-05-21 18:36] #150 closed

[2019-05-21 18:37] hardikvasa commented on #163
closing due to inactivity.

[2019-05-21 18:37] #163 closed

[2019-05-21 18:55] hardikvasa commented on #216
the --proxy argument does support both socks4 and socks5 proxies.

[2019-05-21 18:55] #216 closed

[2019-05-22 02:13] derekphilipau opened #239 "Specific Site (-ss) option being dropped on calls after first 100 results"
googleimagesdownload is successfully downloading more than 100 images using the -l option.  However, the specific site (-ss) option is being dropped on subsequent results (>100).  If you look at the output below, the first 100 results are all from the correct site, christies.com, but starting with result 101 the results are from multiple domains.  (It seems like other arguments like -s, -f, -ct, a

[2019-05-26 07:15] hardikvasa opened #240 "UnicodeDecodeError in python2"
googleimagesdownload -k 'สวัสดีครับ' -l 5
[code]

[2019-05-28 04:37] zhra46 commented on #185
@RobertAuditore  i've met same problem when i try to download more than 100 pics, have you solved it now?

[2019-05-28 04:48] zhra46 opened #241 "get 0 pic when set limit more than 100(with proxy)"
Hi, great work!
I've met a problem.
when i download less than 100 pics with set -ps arg to my http proxy address , it works fine.
but when i tried more than 100 like:

googleimagesdownload -k 'apple' -l 2000 -cd /usr/local/bin/chromedriver -px 127.0.0.1:8123

it always hang on evaluating or just got 0 pics
is this a proxy problem that my proxy didn't work for chromedriver?

[2019-05-28 10:47] AddASecond commented on #185
No, I haven't solve it yet. I choose another repo

[2019-05-30 20:20] ghost commented on #140
On Ubuntu, this worked for me.

$ sudo update-ca-certificates --fresh
$ export SSL_CERT_DIR=/etc/ssl/certs

[2019-05-31 23:50] jeremo1 opened #242 "Need help to implement"
Hello, I'm new here. I was looking for a way to create a database and your code is very amazing, thank you! I use python on the interface pyzo and I don't know how to implement your code! Can you help me please?

[2019-06-04 05:29] manubider opened #243 "Google limit?"
Hey! I'm getting a limit of 675 photos when downloading from different keyworkds, what could this be? Does google have a limit around that number? I want to download at least 10000 to train a neural network.

[2019-06-04 14:09] Ginzry commented on #134
any answers was commited in this question?

[2019-06-04 16:34] WR-BillRich opened #244 "User usability"
If there is a gui to help users in using this program, it will help so much. I am also very interested in implementing the gui for this program.

[2019-06-04 16:36] #244 closed, assigned to nobody

[2019-06-05 06:56] YueLiao commented on #243
I met the same problem.

[2019-06-05 09:56] asiansnorlax opened #245 "Increase Usability with GUI"
Hi, I believe that the usability of this program can be increased if a GUI was layered on top of it and I would like to express my interest to develop it

[2019-06-05 09:56] #245 closed, assigned to nobody

[2019-06-09 08:15] asiansnorlax commented on #217
<img width="601" alt="Added Code" src="https://user-images.githubusercontent.com/49465923/59156648-7b1ff280-8ad1-11e9-8d7a-9c70f868fda7.PNG">
Adding this 3 lines of code in the download_executor function can solve this issue
if '/' in search_keyword[i]:
                            for j in range(search_keyword[i].count('/')):
                                search_keyword[i] = search_keyword[i].re

[2019-06-11 08:40] MarcelSutedja opened #246 "Additional features"
Hi Hardikvasa

I am interest with google image download, I am planning to add more features such as record user activity date and total images download.

Thank you

[2019-06-13 23:51] rjavierch commented on #97
Hi, I have the same problem. I don't think that could be the problem. On my linux laptop I downloaded around 600 images for "Steel beam" and now that I'm downloading new ones for the same name in my windows 7 pc i got 96. I don't know if it is the chrome version.

[2019-06-14 09:39] jithinlalk25 opened #247 "Adding preview for images before downloading them"
Presently, when the script is run, the images are directly downloaded. It would be more convenient if the users could get a preview of the images before they download all of them. I would like to implement this feature. The users can be provided with a preview of all the images in a webpage. Users can confirm the download after previewing them.

[2019-06-23 10:16] jamesWalker55 opened #248 "Korean keywords unsupported"
An error is given when trying to use korean keywords.

Input
`googleimagesdownload --keywords "여보세요" --limit 10`

Output
[code]

[2019-06-23 23:46] ablacklama commented on #247
I think the usefulness of the library really relies on it's ability to download without user input. And it's much faster to download all, then quickly arrow through all the pictures and press delete if you don't like them. A GUI would also make the library significantly heavier. I understand people may have slow internet, or not want to use as much data. But at that point, you should probably just

[2019-06-23 23:51] ablacklama commented on #243
Until there's a fix, i'd suggest trying to `offset` keyword. You could even run a loop that calls this function many times and offsets by and additional 675 each time. I haven't tried this though, but i'd be interested to see if it works

[2019-06-24 03:45] jithinlalk25 commented on #247
Hi ablacklama, thanks for your comment.

I think to implement this as an **optional feature**. Users can also **set the number of images to be viewed**. For example, if a user wants to download 500 images, he can just view 50 or any number of images less than 500 before download. So that he will get a model or type of images that is going to be downloaded.
So I think this will be more comfortable

[2019-06-24 04:12] ablacklama commented on #247
good points, I think as long as it's lightweight that would be neat. Personally i don't think that helps that much, because you can get an overview of what images you'll be downloading by just googling it; and you won't be able to see the outliers without viewing all the images. But i don't think there's any harm in it.

[2019-06-24 04:42] jithinlalk25 commented on #247
I thought of giving an overview of the images without any outliers. That is showing them the exact images that are going to be downloaded.
And it also removes the extra work of gooling images with a lot of filters.
And as you said it's not a big change. But I think it will be useful for some users like me.

[2019-06-27 01:15] tjysdsg opened #249 "Feature Request: Download History to Avoid Redownloading"
Recently I worked on a project that needs to download tons of images. However, I found it inconvenient when I pause the crawler and rerun it, google-images-download would download all the images again. So I can only modify the file containing the keywords (delete the downloaded entries) to avoid that. I think it may be great if this tool can remember downloading history?

[2019-06-27 14:53] yxchng commented on #184
@hardikvasa same error. happens consistently. not usable. no proxy.

[2019-07-05 22:17] manjaroblack commented on #184
@hardikvasa I am having this error as well on Python 2.7, 3.7, and 3.8:
At first my program will download images, and then after a while I start getting the error. If I restart my program, the error immediately persists. Restarting doesn't stop the error. After some time, a few hours, I try again and I am back to being able to download for a little bit.

[2019-07-08 00:40] sudcha23 commented on #240
+1 to this issue. Being able to pull images for languages other than english would be really, really useful.

If there's any work around in the meanwhile, please do share!

[2019-07-10 06:37] jithinlalk25 commented on #249
Good suggestion. I would like to implement this feature.

[2019-07-15 17:04] jose-t commented on #240
Same issue on python3.7.

Replacing non ascii characters by their unicode representation should fix the problem.

[code]

[2019-07-15 17:50] jose-t commented on #240
Same issue in python3.7.

A workaround is to replace non-ascii characters with their unicode representation.

[code]

[2019-07-15 17:55] jose-t commented on #240
Same issue in python3.7.

A workaround is to replace non-ascii characters by their unicode representation.

**Python 3:**
[code]

**Python 2:**

Replace `if not isinstance(string, bytes):` by `if not isinstance(string, unicode):`

[2019-07-15 18:26] sudcha23 commented on #240
@jose-t : Thank you! I was trying to solve the issue and found Translation (vs. Transliteration) to work the better in some cases, in Google Image search results. Depending on the query, either might give better results, but it's hard to predict before comparing the results for n queries.

Posting translate function in case someone wants to use it (note: you'll need Google Cloud account and follow

[2019-07-21 17:32] josh-ashkinaze opened #251 "The "-no download" option does not seem to work."
No-download option does not seem to work

[2019-07-23 11:34] chzhc commented on #240
It's a bug while trying to print the exactly name in the utf-8 encoding. if you were using python3,  you can just git clone the project and remove the decode in `google_images_download/google_images_download.py` like this:
`print(iteration.encode('raw_unicode_escape').decode('utf-8'))`
into
`print(iteration.encode('raw_unicode_escape'))`
then uninstall the origin one and `python setup.py install`

[2019-07-24 12:05] perseverance123 commented on #185
I met the same problem when using this repo, then , I modified some codes and it seemed to work well now...(I mean, the limit 100 can be changeable in this repo and it not a proxy problem) I changed the value of a variable--"limit" ,from 100 to 100000 in file google_images_download.py and ,also, don't forget to change  "limit < 101"  to "limit < 100001" . (it depends)
tip: I have already got 2000

[2019-07-25 05:58] tctree333 opened #252 "UnboundLocalError: local variable 'search_keyword' referenced before assignment"
Hey,
I seem to have stumbled across this issue, similar to issue #43
The python snippet is below:
[code]
This throws an error:
[code]
For context, we're using this module to get pictures of birds in a discord bot.

Thanks,
Tomi

[2019-07-25 07:20] longdrake commented on #241
@zhra46 what is your command wen you download less then 100 pics with http proxy address?
like this:  googleimagesdownload -k 'apple' -l 100 -px 127.0.0.1:8123 ?
is it necessary for chromedriver?

[2019-07-25 18:27] tctree333 commented on #252
Sorry, it seems like the issue is that we're passing an empty string to "keywords".
It would be nice if it had told us that though.

[2019-07-26 07:19] AjayViknesh opened #253 "Corrupted Images"
Hi!
I downloaded 100 images. 38 got corrupted and was not able to open those images.
Is there an fix for this? Or is there any option to remove those corrupted images from the downloads folder?

[2019-07-27 15:04] NightMachinery opened #254 "The CLI needs a proper --help and man page"
Adding the [examples](https://google-images-download.readthedocs.io/en/latest/examples.html) is a good first step.

[2019-07-27 15:16] NightMachinery commented on #254
My own summary of the examples:

[code]

[2019-07-29 04:11] zenglian opened #255 ""Looks like we cannot locate the path the 'chromedriver'""
Installed via setup.py
OS: windows 10
Cmd :

Error:

[2019-07-31 22:54] AmineHosni commented on #253
@AjayViknesh
Have you tried [this](https://google-images-download.readthedocs.io/en/latest/examples.html#library-extensions) ?

[2019-07-31 23:30] AmineHosni opened #256 "related_images offset duplicates"
I'm using the command line here:
I tried to download 10000 images with their _related_images_
I got only 375 image on the main folder and 759 related ones on the first iteration
Now to get back to where it stopped,I rerun the command with 375 as an **offset**
main folder's new downloads: 365 -> 797
related_images folder's : 365  -> 779 (not a typo)
I ended up with duplicates on the _related_images

[2019-08-01 13:00] AmineHosni commented on #243
@ablacklama
`Unfortunately all 5000 could not be downloaded because some images were not downloadable. 814 is all we got for this search filter!`
It couldn't give me a single additional photo..

[2019-08-02 02:34] #255 closed, assigned to nobody

[2019-08-02 06:37] KanchanIIT commented on #173
@hardikvasa thank you very much for the awesome tools.

@hardikvasa when I am using similar image search in all cases I am getting all irreverent download. But while searching on google using the same URL getting better visually similar results.

Following is an example URL
https://www.luxurylinen.co.nz/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/2/2/22284c_leopold_-_navy_

[2019-08-02 12:46] jqueguiner commented on #73
could also be you rights on the chromdriver are not the appropriate one (let's chromedriver is root root and you are trying to run the script as ubuntu ubuntu)

[2019-08-06 14:42] sampenland commented on #251
I'm also trying to use the 'no-download' or 'no_download' argument which doesn't seem to be working - downloads anyway.

[2019-08-06 14:48] sampenland commented on #251
In docs it says this argument doesn't require a value but when I add the value of True to the argument, I get the URL without the download - so it does work, seemly - just needs True as a value to the argument.

[2019-08-07 08:47] ahsan856jalal opened #257 "chromedriver error on passing json file with limit >100"
I have installed google-chrome and chromedriver both version 76 and selenium and placed them in /usr/bin directory and 'which' commnad for each application is giving me same path .
If I run
python google_images_download.py -k "James Anderson" -sk 'cricketer' -l 1000 --chromedriver /usr/bin/chromedriver
It runs fine
But if I place the individual in json file with limit <100 , it still runs fine but

[2019-08-07 18:09] DuckSoft commented on #240
Have you ever tried `export PYTHONIOENCODING=utf-8`?

[2019-08-13 10:11] datavisordingli opened #258 "Not able to search with Chinese keyword"
I am searching with Chinese words and raise below exception.

<img width="859" alt="Screen Shot 2019-08-13 at 6 10 00 PM" src="https://user-images.githubusercontent.com/39509458/62933848-b7374280-bdf5-11e9-969c-2c16744d509d.png">

[2019-08-14 13:06] ruifengma opened #259 "Could not open URL"
Evaluating...
Could not open URL. Please check your internet connection and/or ssl settings
If you are using proxy, make sure your proxy settings is configured correctly

I got this issue while trying to download the image from google and I did not use a proxy. I'm using python 3 on Mac OS with google_images_download == 2.8.0

[2019-08-15 07:37] ActonMartin commented on #185
Which repo? could you tell me? Please.

[2019-08-16 09:07] ActonMartin commented on #256
Hi,@AmineHosni:
    There is a function like you said "offset". You could just add the word "-of 650" (it means start download from the 650th picture the number you set)

[2019-08-19 03:22] lperepol opened #260 "Download failed: <urlopen error unknown url type: x-raw-image>"
Do a Google image search on Dorylaimus serpentinus.
https://www.google.ca/search?hl=en-GB&authuser=0&tbm=isch&source=hp&biw=1470&bih=835&ei=JBVaXcHsOMb7-gSesbq4AQ&q=Dorylaimus+serpentinus&oq=Dorylaimus+serpentinus&gs_l=img.3..35i39.3382.3382..4563...0.0..0.106.108.1j1......0....2j1..gws-wiz-img.....0.pLo9J7UABKg&ved=0ahUKEwjBjovp_I3kAhXGvZ4KHZ6YDhcQ4dUDCAU&uact=5

Try downloading all the images re

[2019-08-19 23:30] jhrcook commented on #257
I am having this same error even after downloading `chromedriver` using brew (MacOS) and pointing to the location in my system (using `which chromedriver` to find the location).

**EDIT**
There is a very fast popup error message that says "Do you want the application "Python.app" to accept incoming network connections?" and says to allow it to pass through the Firewall. I followed these [instructi

[2019-08-20 23:48] AmineHosni commented on #256
Hi @ActonMartin,
I'm sorry if I wasn't clear.
I know about the offset argument, actually that's what I used to resume my downloads. The problem is that when you want to download related images, the offset argument will only keep track of the main images, not the related ones, so you'll end up with duplicates on the related ones. Like my suggestion was "how about having an additional offset to also

[2019-08-25 09:03] shahrooz97 opened #261 "When using this module in other file,not cmmnd line, How to specify exact size parameter?"
For example,
from googe_images_downlo.... import google_i.......
res = goo....googleimges...()
width = '1080'
height = '720'

argument={'keywords':'dog','limit':3,'exact_size': i don't know how pass the width and height here :(}

path=res.download(argument)

Can I pass that like a tuple?
(int(width),int(height))

[2019-08-28 19:19] JoaoPedroPP commented on #259
Same error on python 3. Python 2 works fine.

[2019-08-29 09:18] CanoeByGuitar commented on #259
Same error both on python3 and python2

[2019-08-31 19:42] therealpeterpython opened #262 "Error with keyword print_paths"
First of all, I would like to thank you for the great work!
I've tried the following commands:

[code]
and got this error message:
[code]

I've investigated this error further and the problem lies in line 830 where `paths` is a dictionary:
[code]
If i understood the code correctly, something like:
[code]
should fix the problem.

Greetings, therealpeterpython

[2019-08-31 22:10] therealpeterpython opened #263 "Error with trailing spaces in query"
Hey again :D

I've found another bug. Related to #34.

When you have spaces at the end of your searchwords then you can't download an image and dont get the path. After quite some research i've got to line 637 `output_file = open(path, 'wb')` which fails in this case.
I think the best way to tackle this problem is to strip the searchwords. If i've got it right you could do that in lines 849-850 li

[2019-08-31 22:57] therealpeterpython opened #264 "Feature request: return image path even with thumbnail_only option set"
Hey,
It would be great if you get the absolut image path returned, even if you have thumbnail_only set.
 I think you could do that by changing the if case in line 585 to:
[code]
But then you have the problem, that the return_image_name ist not sanitized (i.e. "carrot.jpg?itok=MrGiGvSb'" needs to be "carrot.jpg"). To do this you could move the lines 603-623 up to the top of the method (line 579). T

[2019-09-09 19:58] talhaanwarch commented on #73
Here is the solution that work for me.
**Step 1**
Download chrome browser where you want it (https://chromedriver.chromium.org/downloads)

**Step 2**
`from google_images_download import google_images_download  `
press ctrl and click google_images_download and open google_images_download.py file
go to line 177 where it is written as `browser = webdriver.Chrome(chromedriver, chrome_options=options)`

[2019-09-11 22:54] abhijitmjj commented on #140
This worked!

[2019-09-15 13:32] jiaqiwang1212 commented on #73
I use the same method as you, but I still get wrong.
 File "google_images_download.py", line 179
    browser = webdriver.Chrome(‪'D:/chromedriver_win32/chromedriver', chrome_options=options)
                                                                                             ^
TabError: inconsistent use of tabs and spaces in indentation

[2019-09-15 13:36] jiaqiwang1212 opened #266 "What is the specific method of Windows?"
I downloaded Chromedriver, but I don't know how to use it.

[2019-09-15 13:41] talhaanwarch commented on #73
actually you have made indentation error. can you post the screen shot

[2019-09-15 13:52] 521168queen commented on #73
![QQ截图20190915215203](https://user-images.githubusercontent.com/40316182/64922559-1f1ce680-d803-11e9-8e4c-87769bf70fe5.jpg)

[2019-09-15 13:54] 521168queen commented on #73
![QQ截图20190915215436](https://user-images.githubusercontent.com/40316182/64922588-728f3480-d803-11e9-9eaa-806348a77c41.jpg)

[2019-09-15 14:02] jiaqiwang1212 commented on #73
sorry，

![image](https://user-images.githubusercontent.com/40316182/64922677-78d1e080-d804-11e9-9a97-9d2746ba19c7.png)

[2019-09-15 14:06] 521168queen commented on #73
![image](https://user-images.githubusercontent.com/40316182/64922731-1a593200-d805-11e9-8c75-eb20eae8a9a6.png)

[2019-09-15 14:07] jiaqiwang1212 commented on #73
![image](https://user-images.githubusercontent.com/40316182/64922740-2e049880-d805-11e9-81e1-28720c45a0d8.png)

[2019-09-15 14:24] talhaanwarch commented on #73
apparently it seems you have some issue with indentations, can you undo all changes, you have made.
you can try pip uninstall google_images_download
and then install again.
make sure, instead of changing the complete
`browser = webdriver.Chrome(chromedriver, chrome_options=options)`
just change `chromedriver`.
 this will help to avoid indentation issue

[2019-09-15 23:34] thijsbs opened #267 "Error when getting related images (KeyError: 'ity')"
Hi, great tool. I just wanted to share this traceback that I encountered:
[code]

[2019-09-16 00:00] jsreaves opened #268 "Unicode Decode Error on Accented Spanish Characters"
I get the error below when trying to search for images using keywords with Spanish characters like á, ó, and í. The error occurs when using the library from my own code or with the command line utility. I'm using Python 3.

![Screen Shot 2019-09-15 at 7 55 37 PM](https://user-images.githubusercontent.com/12678756/64929352-44a1f400-d7f3-11e9-8bd0-3a511a3be998.png)

[2019-09-16 13:05] pierrebinon commented on #184
Same issue here - probably due to Google restrictions don't you think ?
I have a delay of 0.5 seconds
It worked for the 800 first searches and now it blocks almost immediately

[2019-09-17 14:39] Mahelita commented on #81
This is still happening in version 2.8.0 installed with pip in Windows 10.
Some images appear to get discarded during the scraping
[code]
but others are being missed.
Of these files, some can be viewed in Windows but not in python (e.g. matplotlib, pillow fail with ``````OSError: cannot identify image file``````

) and others not in both.
Unfortunately it seems I cannot upload files...
Nevertheles

[2019-09-19 12:28] rozeappletree commented on #73
Thankyou @talhaanwarch It works as charm !

[2019-09-21 08:22] whatneuron commented on #247
@jithinlalk25 I am working on something similiar, send me your contact details if you want to work together. Thanks

[2019-09-21 08:25] whatneuron opened #269 "How to make this script fast ?"
Downloading 100 images take about 10 minutes on a fast internet connection, any idea how to make it fast ? thanks

[2019-09-21 15:07] tjysdsg commented on #148
@CookingBoy Can you share how you fixed this issue please? I am encountering the same problem here, using chromedriver 77

[2019-09-22 03:35] AddASecond commented on #185
I forgot the specific repo, but it's one of my collections here :+1: https://github.com/AddASecond/AnnoRepo
in the scrapy/crawl part

[2019-09-23 13:07] refandhika commented on #243
I was wondering why i only got 397 photo for 500 limit on `dog husky` keyword. So i checked how image search on google page behavior was. It's actually have a button that need to be clicked when it reach 397 images. Maybe this behavior have not been included on latest script, hence the crawler stopped earlier than the real image limit was.

Also, since google image itself is not an unlimited repos

[2019-09-23 20:57] davidstrouk commented on #259
I had the same issue on Mac OS 10.14.6 with google-images-download==2.8.0, and the solution is to run this command:
`/Applications/Python\ 3.6/Install\ Certificates.command`

Of course you have to change Python version 3.x if another version is installed on your Mac.
(reference: https://stackoverflow.com/a/42334357/9737922)

[2019-09-23 21:05] davidstrouk commented on #268
The issue is related to line 922 in google_images_download.py file:
`print(iteration.encode('raw_unicode_escape').decode('utf-8'))`

@hardikvasa on commit 18cc56b3ed8e06148fbacaf98b37a24c3f4a635c why did you have to add the encode/decode ? Without this it will also work for non english characters.

[2019-09-23 21:06] davidstrouk commented on #267
What is the command you sent? It will help to debug and try to understand the issue.

[2019-09-23 21:08] davidstrouk commented on #258
I guess it's the same error as #268. See my answer there.

[2019-09-23 21:20] thijsbs commented on #267
I believe it was:

`googleimagesdownload -k 'underwater landscape' -l 600 -ri -tho -o ~/somefolder/ -cd chromedriver`

[2019-09-24 19:09] nishavisha commented on #257
What I would suggest is manually install the application using CLI. Then, print out the exception (in google_images_download.py) to unravel its true nature. For example, the exception in my case was:

Message: session not created: This version of ChromeDriver only supports Chrome version 76

Following which, updating Google Chrome solved this issue.

[2019-09-25 10:11] LorenzoPinto04 commented on #269
To be honest being a scraper the script is kinda fast.
I think the problem is related to your setup, because for 100 images doesn't take more than 1-2 minutes in my case.

[2019-09-28 16:42] svyotov commented on #73
I had this issue too, the issue is that all command line arguments are ignored when the config file argument is present. `googleimagesdownload  -cf cfg.json --chromedriver '/usr/bin/chromedriver'` will ignore the `--chromedriver` argument. You can add it to the configuration file `{ "Records": [ {"keywords": "tops","limit": 1000, "chromedriver": "/usr/bin/chromedriver"}, {"keywords": "jacket","lim

[2019-09-29 02:06] ycyyww commented on #184
I have same problom, The exception is google_images_download.py 142 line. Is the google Anti-reptile problem？

[2019-09-29 02:30] ycyyww opened #270 "Could not open URL. Please check your internet connection and/or ssl settings If you are using proxy, make sure your proxy settings is configured correctly"
i used demo code is :

[code]
but i have a exception is the title name :Could not open URL. Please check your internet connection and/or ssl settings
If you are using proxy, make sure your proxy settings is configured correctly.

i can use vpn login google , but i do not know this problem

[2019-09-29 07:44] ycyyww commented on #270
这个问题最后解决了，是我自身vpn设置问题。要将vpn设置为全局的。

[2019-09-29 07:44] #270 closed, assigned to nobody

[2019-09-30 23:20] whatneuron commented on #269
@lorenzo how you doing it ?

[2019-10-01 06:31] LorenzoPinto04 commented on #269
Hi! Everything fine! You?

Lorenzo

Il giorno 1 ott 2019, alle ore 01:20, whatneuron <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@lorenzo<https://github.com/lorenzo> how you doing it ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/hardikvasa/google-images-download/issues/269?email_source=notification

[2019-10-02 17:02] SerialForBreakfast commented on #89
I'm getting this same error when attempting to read a keyword with unicode from a config.json file.  Tested on mac and ubuntu.
`search_keyword = [str(item) for item in arguments['keywords'].split(',')]
UnicodeEncodeError: 'ascii' codec can't encode character u'\xea' in position 1: ordinal not in range(128)`

[2019-10-03 00:55] whatneuron commented on #269
great, can i see your implementation of code as it's slow for me

[2019-10-13 23:57] dragona opened #271 "Unicode Decode Error for invalid UTF-8"
For invalid Unicode Decode Error, it gets me an error at this point:

https://github.com/hardikvasa/google-images-download/blob/0d2bf8f17b5a8806d90df7258e7a172aa0cb7963/google_images_download/google_images_download.py#L922

here is my fix:
[code]

[2019-10-13 23:58] dragona commented on #268
Here is my fix for this

[code]

[2019-10-13 23:59] #271 closed, assigned to nobody

[2019-10-14 08:15] playma opened #272 "Hang on downloading page"
I found that the progrem hangs on this line.
Should it add `timeout` when call `urlopen`?

https://github.com/hardikvasa/google-images-download/blob/0d2bf8f17b5a8806d90df7258e7a172aa0cb7963/google_images_download/google_images_download.py#L139-L140